@using Vexed.Services;
@inject LanguageService language


@model DataModels.UserDetails

@{
    ViewData["Title"] = "Details";
}

<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4>@language.GetKey("Details")</h4>
            <span class="ml-1"> Your user details</span>
        </div>
    </div>
</div>

<body class="vh-10">
    <div class="container py-5 h-10">
        <div class="row d-flex justify-content-center align-items-center h-10">
            <div class="col-md-8 col-lg-8">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body text-center">

                        <h3 class="mb-5">@language.GetKey("YourDetails")</h3>
                        <hr />
                        <div class="container">
                            <div class="text-left text-dark">
                                <div class="row">
                                    <div class="col">
                                        <i class='bx bx-user'></i>
                                        <b>@language.GetKey("FirstName")</b>
                                    </div>
                                    <div class="col">
                                        @Html.DisplayFor(model => model.FirstName)
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <i class='bx bx-user'></i>
                                        <b>@language.GetKey("LastName")</b>
                                    </div>
                                    <div class="col">
                                        @Html.DisplayFor(model => model.LastName)
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <i class='bx bx-user'></i>
                                        <b>@language.GetKey("PreferredName")</b>
                                    </div>
                                    <div class="col">
                                        @Html.DisplayFor(model => model.PreferredLastName)
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <i class='bx bx-male-female'></i>
                                        <b>@language.GetKey("Gender")</b>
                                    </div>
                                    <div class="col">
                                        @Html.DisplayFor(model => model.Gender)
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <i class='bx bx-calendar-event'></i>
                                        <b>@language.GetKey("DateOfBirth")</b>
                                    </div>
                                    <div class="col">
                                        @Html.DisplayFor(model => model.DateOfBirth)
                                    </div>
                                </div>

                                <hr class="dotted" />
                                <div class="row">
                                    <div class="col">
                                        <i class='bx bx-group'></i>
                                        <b>@language.GetKey("Nationality")</b>
                                    </div>
                                    <div class="col">
                                        @Html.DisplayFor(model => model.Nationality)
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <i class='bx bx-globe'></i>
                                        <b>@language.GetKey("Contry")</b>
                                    </div>
                                    <div class="col">
                                        @Html.DisplayFor(model => model.Country)
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <i class='bx bxs-city'></i>
                                        <b>@language.GetKey("City")</b>
                                    </div>
                                    <div class="col">
                                        @Html.DisplayFor(model => model.City)
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <b>@language.GetKey("Address")</b>
                                        <i class='bx bx-home'></i>
                                    </div>
                                    <div class="col">
                                        @Html.DisplayFor(model => model.Address)
                                    </div>
                                </div>

                                <hr class="dotted" />
                                <div class="row">
                                    <div class="col">
                                        <i class='bx bx-info-circle'></i>
                                        <b>@language.GetKey("AdditionalInfo")</b>
                                    </div>
                                    <div class="col">
                                        @Html.DisplayFor(model => model.AdditionalInformation)
                                    </div>
                                </div>

                            </div>
                        </div>
                        <hr class="my-4">

                        @if (!User.IsInRole("Employee")){
                            <a class="btn btn-lg btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">@language.GetKey("Edit")</a>
                            <a class="btn btn-lg btn-outline-dark" asp-action="Index">@language.GetKey("BackToList")</a>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
