@using Vexed.Services;
@inject LanguageService language
@model DataModels.ViewModels.UsersDetailsViewModel

@{
    ViewData["Title"] = "Edit";
}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link href="/css/card.css" rel="stylesheet" />

<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4>@language.GetKey("Edit")</h4>
            <span class="ml-1"> @language.GetKey("Edit") @language.GetKey("UserDetails")</span>
        </div>
    </div>
</div>

<body class="vh-10">
    <div class="container py-5 h-10">
        <div class="row d-flex justify-content-center align-items-center h-10">
            <div class="col-md-8 col-lg-8">
                <div class="card testimonial-card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body text-center">
                        <div class="avatar-simple mx-auto mb-1 mt-2 white">
                            <img src="https://cdn-icons-png.flaticon.com/128/8130/8130930.png" class=" img-fluid" alt="woman avatar">
                        </div>
                        
                        <h4>@language.GetKey("UserDetails")</h4>
                        <hr />
                        <div class="text-left p-3 text-dark">
                            <form asp-action="Edit">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="form-group row my-3">
                                    <div class="col-4 my-2">
                                        <i class='bx bx-user'></i>
                                        <b>@language.GetKey("UserName"):</b>
                                    </div>
                                    <div class="col-8">
                                        @Html.DropDownListFor(m => m.SelectedUserId, new SelectList(Model.UserNamesVM, "UserId", "UserName"), new { @class = "form-control", @id = "single-select" })

                                        <input type="hidden" asp-for="SelectedUserId" />
                                        <input type="hidden" asp-for="UserNamesVM" />
                                        <input type="hidden" asp-for="UserDetails.Id" />

                                        @Html.ValidationMessageFor(m => m.SelectedUserId, "", new { @class = "text-danger" })

                                    </div>
                                </div>

                                <div class="form-group row my-3">
                                    <div class="col-4 my-2">
                                        <i class='bx bx-user'></i>
                                        <b>@language.GetKey("FirstName"):</b>
                                    </div>
                                    <div class="col-8">
                                        <input asp-for="@Model.UserDetails.FirstName" class="form-control" />
                                        <span asp-validation-for="@Model.UserDetails.FirstName" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row my-3">
                                    <div class="col-4 my-2">
                                        <i class='bx bx-user'></i>
                                        <b>@language.GetKey("LastName"):</b>
                                    </div>
                                    <div class="col-8">
                                        <input asp-for="@Model.UserDetails.LastName" class="form-control" />
                                        <span asp-validation-for="@Model.UserDetails.LastName" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row my-3">
                                    <div class="col-4 my-2">
                                        <i class='bx bx-user'></i>
                                        <b>@language.GetKey("PreferredName"):</b>
                                    </div>
                                    <div class="col-8">
                                        <input asp-for="@Model.UserDetails.PreferredLastName" class="form-control" />
                                        <span asp-validation-for="@Model.UserDetails.PreferredLastName" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row my-3">
                                    <div class="col-4 my-2">
                                        <i class='bx bx-male-female'></i>
                                        <b>@language.GetKey("Gender"):</b>
                                    </div>
                                    <div class="col-8">
                                        <input asp-for="@Model.UserDetails.Gender" class="form-control" />
                                        <span asp-validation-for="@Model.UserDetails.Gender" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row my-3">
                                    <div class="col-4 my-2">
                                        <i class='bx bx-calendar-event'></i>
                                        <b>@language.GetKey("DateOfBirth"):</b>
                                    </div>
                                    <div class="col-8">
                                        <input asp-for="@Model.UserDetails.DateOfBirth" class="form-control" />
                                        <span asp-validation-for="@Model.UserDetails.DateOfBirth" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row my-3">
                                    <div class="col-4 my-2">
                                        <i class='bx bx-group'></i>
                                        <b>@language.GetKey("Nationality"):</b>
                                    </div>
                                    <div class="col-8">
                                        <input asp-for="@Model.UserDetails.Nationality" class="form-control" />
                                        <span asp-validation-for="@Model.UserDetails.Nationality" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row my-3">
                                    <div class="col-4 my-2">
                                        <i class='bx bx-globe'></i>
                                        <b>@language.GetKey("Country"):</b>
                                    </div>
                                    <div class="col-8">
                                        <input asp-for="@Model.UserDetails.Country" class="form-control" />
                                        <span asp-validation-for="@Model.UserDetails.Country" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row my-3">
                                    <div class="col-4 my-2">
                                        <i class='bx bxs-city'></i>
                                        <b>@language.GetKey("City"):</b>
                                    </div>
                                    <div class="col-8">
                                        <input asp-for="@Model.UserDetails.City" class="form-control" />
                                        <span asp-validation-for="@Model.UserDetails.City" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row my-3">
                                    <div class="col-4 my-2">
                                        <i class='bx bx-home'></i>
                                        <b>@language.GetKey("Address"):</b>
                                    </div>
                                    <div class="col-8">
                                        <input asp-for="@Model.UserDetails.Address" class="form-control" />
                                        <span asp-validation-for="@Model.UserDetails.Address" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row my-3">
                                    <div class="col-4 my-2">
                                        <i class='bx bx-info-circle'></i>
                                        <b>@language.GetKey("AdditionalInfo"):</b>
                                    </div>
                                    <div class="col-8">
                                        <textarea asp-for="@Model.UserDetails.AdditionalInformation" class="form-control" rows="3" style="resize: vertical;"></textarea>
                                        <span asp-validation-for="@Model.UserDetails.AdditionalInformation" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row my-4">
                                    <div class="col-4 my-2">
                                        <a class="btn btn-outline-dark" asp-action="Index">@language.GetKey("BackToList")</a>
                                    </div>
                                    <div class="col-8">
                                        <input type="submit" value="@language.GetKey("Save")" class="btn btn-primary" />
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    <script>
        var dropdown = document.getElementById("single-select");
        dropdown.selectedIndex = 0;
    </script>

    <script>
        $('#single-select').select2({
            maximumSelectionLength: 10,
            placeholder: 'Select an option'
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
