@using Vexed.Services;
@inject LanguageService language
@model DataModels.LeaveRequest

@{
    ViewData["Title"] = "Create";
}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link href="/css/card.css" rel="stylesheet" />

<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4>@language.GetKey("Create")</h4>
            <span class="ml-1"> @language.GetKey("NewLeaveRequest")</span>
        </div>
    </div>
</div>

<body class="vh-10">
    <div class="container py-5 h-10">
        <div class="row d-flex justify-content-center align-items-center h-10">
            <div class="col-md-8 col-lg-8">
                <div class="card testimonial-card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body text-center">
                        <div class="avatar-simple mx-auto mb-1 mt-2 white">
                            <img src="https://cdn-icons-png.flaticon.com/128/8303/8303821.png" class=" img-fluid" alt="woman avatar">
                        </div>

                        <h4>@language.GetKey("LeaveRequest")</h4>
                        <hr />
                        <div class="text-left p-3 text-dark">
                            <form asp-action="Create">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="form-group row my-3">
                                    <div class="col-4 my-2">
                                        <i class='bx bxs-category'></i>
                                        <b>@language.GetKey("Type"):</b>
                                    </div>
                                    <div class="col-8">
                                        <select id="single-select" asp-for="Type" class="form-control" asp-items="ViewBag.LeaveTypes"></select>
                                        <span asp-validation-for="Type" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row my-3">
                                    <div class="col-4 my-2">
                                        <i class='bx bx-chevrons-right'></i>
                                        <b>@language.GetKey("StartDate"):</b>
                                    </div>
                                    <div class="col-8">
                                        <input asp-for="StartDate" class="form-control" />
                                        <span asp-validation-for="StartDate" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row my-3">
                                    <div class="col-4 my-2">
                                        <i class='bx bx-chevrons-left'></i>
                                        <b>@language.GetKey("EndDate"):</b>
                                    </div>
                                    <div class="col-8">
                                        <input asp-for="EndDate" class="form-control" />
                                        <span asp-validation-for="EndDate" class="text-danger"></span>
                                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group row my-3">
                                    <div class="col-4 my-2">
                                        <i class='bx bx-bar-chart-alt-2'></i>
                                        <b>@language.GetKey("DailyHours"):</b>
                                    </div>
                                    <div class="col-8">
                                        <input asp-for="Quantity" class="form-control" />
                                        <span asp-validation-for="Quantity" class="text-danger"></span>
                                    </div>
                                </div>
                                <input type="hidden" asp-for="Status" />

                                <div class="form-group row my-3">
                                    <div class="col-4 my-2">
                                        <i class='bx bx-comment'></i>
                                        <b>@language.GetKey("Comments"):</b>
                                    </div>
                                    <div class="col-8">
                                        <textarea asp-for="Comments" class="form-control" rows="3" style="resize: vertical;"></textarea>
                                        <span asp-validation-for="Comments" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row my-4">
                                    <div class="col-4 my-2">
                                        <a class="btn btn-outline-dark" asp-action="Index">@language.GetKey("BackToList")</a>
                                    </div>
                                    <div class="col-8">
                                        <input type="submit" value="@language.GetKey("Create")" class="btn btn-primary" />
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js" integrity="sha384-d3UHjPdzJkZuk5H3qKYMLRyWLAQBJbby2yr2Q58hXXtAGF8RSNO9jpLDlKKPv5v3" crossorigin="anonymous"></script>
    <script>
        $('#single-select').select2({
            maximumSelectionLength: 10,
            placeholder: 'Select an option'
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
