@using Vexed.Services;
@inject LanguageService language
@model Vexed.Models.LeaveRequest

@{
    ViewData["Title"] = "Delete";
}

<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4>@language.GetKey("Delete")</h4>
            <span class="ml-1"> Delete contact info</span>
        </div>
    </div>
</div>


<body class="vh-10">
    <div class="container py-5 h-10">
        <div class="row d-flex justify-content-center align-items-center h-10">
            <div class="col-md-8 col-lg-8">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body text-center">

                        <h3 class="mb-5 text-danger">@language.GetKey("Delete") @language.GetKey("LeaveRequest")?</h3>
                        <hr />
                        <div class="container">
                            <div class="text-left text-dark">
                                <div class="row">
                                    <div class="col">
                                        <i class='bx bxs-category'></i>
                                        <b>@language.GetKey("Type")</b>
                                    </div>
                                    <div class="col">
                                        @Html.DisplayFor(model => model.Type)
                                    </div>
                                </div>

                                <hr class="dotted" />
                                <div class="row">
                                    <div class="col">
                                        <i class='bx bx-chevrons-right'></i>
                                        <b>@language.GetKey("StartDate")</b>
                                    </div>
                                    <div class="col">
                                        @Html.DisplayFor(model => model.StartDate)
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <i class='bx bx-chevrons-left'></i>
                                        <b>@language.GetKey("EndDate")</b>
                                    </div>
                                    <div class="col">
                                        @Html.DisplayFor(model => model.EndDate)
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <i class='bx bx-bar-chart-alt-2'></i>
                                        <b>@language.GetKey("Quantity")</b>
                                    </div>
                                    <div class="col">
                                        @Html.DisplayFor(model => model.Quantity)
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <i class='bx bx-stats'></i>
                                        <b>@language.GetKey("Status")</b>
                                    </div>
                                    <div class="col">
                                        @Html.DisplayFor(model => model.Status)
                                    </div>
                                </div>

                                <hr class="dotted" />
                                <div class="row">
                                    <div class="col">
                                        <i class='bx bx-comment'></i>
                                        <b>@language.GetKey("Comments")</b>
                                    </div>
                                    <div class="col">
                                        @Html.DisplayFor(model => model.Comments)
                                    </div>
                                </div>

                            </div>
                        </div>

                        <hr class="my-4">
                        <form asp-action="Delete">
                            <a class="btn btn-outline-dark" asp-action="Index">@language.GetKey("BackToList")</a>
                            <input type="hidden" asp-for="Id" />
                            <input type="submit" value="@language.GetKey("Delete")" class="btn btn-danger" />
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
