@using Shared;
@using Vexed.Services;
@inject LanguageService language
@model IEnumerable<DataModels.ViewModels.UserLeaveRequestsViewModel>

@{
    ViewData["Title"] = "Index";
    IDictionary<string, string> statusBadge = new Dictionary<string, string>()
    {
        { StatusManager.Submitted, "badge-outline-warning"},
        {StatusManager.SuperiorApproval, "badge-outline-info"},
        {StatusManager.HRApproval, "badge-outline-success"},
        {StatusManager.Cancelled, "badge-outline-danger"},
    };

}
<link rel="stylesheet" href="/vendor/datatables/css/jquery.dataTables.min.css" />

<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4> @language.GetKey("YourLeaveRequest")!</h4>
            <span class="ml-1"> @language.GetKey("AllInOnePlace")</span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form asp-action="IndexHR">
                    <div class="table-responsive">
                        <table id="example" class="table table-responsive-sm" aria-describedby="table-description">
                            <caption id="table-description">This table displays the leave requests of the user</caption>

                            <thead class="thead-primary">
                                <tr>
                                    <th data-orderable="false"></th>
                                    <th>
                                        @language.GetKey("FullName")
                                    </th>
                                    <th>
                                        @language.GetKey("Type")
                                    </th>
                                    <th>
                                        @language.GetKey("StartDate")
                                    </th>
                                    <th>
                                        @language.GetKey("EndDate")
                                    </th>
                                    <th>
                                        @language.GetKey("DailyHours")
                                    </th>
                                    <th>
                                        @language.GetKey("Status")
                                    </th>
                                    <th data-orderable="false"></th>
                                    <th data-orderable="false"></th>
                                </tr>
                            </thead>
                            <tbody class="text-dark">
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <btn class="btn" data-toggle="modal" data-target="#exampleModalCenter-@item.LeaveRequest.Id" style="cursor: pointer;">
                                                <i class="fa fa-plus color-primary"></i>
                                            </btn>
                                        </td>
                                        <td>
                                            @item.UserDetails.FirstName @item.UserDetails.LastName
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LeaveRequest.Type)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LeaveRequest.StartDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LeaveRequest.EndDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LeaveRequest.Quantity)
                                        </td>
                                        <td>
                                            <span class="badge @statusBadge[item.LeaveRequest.Status] badge-rounded">@Html.DisplayFor(modelItem => item.LeaveRequest.Status)</span>
                                        </td>
                                        <td>
                                            <button class="btn btn-success text-light" type="submit" asp-route-statusAction="@StatusManager.SuperiorApproval" asp-route-id="@item.LeaveRequest.Id">
                                                <span>
                                                    <i class="fa fa-check"></i>
                                                </span>@language.GetKey("Approve")
                                            </button>
                                        </td>
                                        <td>
                                            <button class="btn btn-danger text-light" type="submit" asp-route-statusAction="@StatusManager.Cancelled" asp-route-id="@item.LeaveRequest.Id">
                                                <span>
                                                    <i class="fa fa-times"></i>
                                                </span>@language.GetKey("Reject")
                                            </button>
                                        </td>
                                    </tr>

                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModalCenter-@item.LeaveRequest.Id">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Time card details - @item.UserDetails.FirstName @item.UserDetails.LastName</h5>
                                                    <button type="button" class="close" data-dismiss="modal">
                                                        <span>&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="container">
                                                        <div class="text-left text-dark">
                                                            <div class="row">
                                                                <div class="col">
                                                                    <i class='bx bxs-category'></i>
                                                                    <b>@language.GetKey("Type")</b>
                                                                </div>
                                                                <div class="col">
                                                                    @Html.DisplayFor(modelItem => item.LeaveRequest.Type)
                                                                </div>
                                                            </div>

                                                            <hr class="dotted" />
                                                            <div class="row">
                                                                <div class="col">
                                                                    <i class='bx bx-chevrons-right'></i>
                                                                    <b>@language.GetKey("StartDate")</b>
                                                                </div>
                                                                <div class="col">
                                                                    @Html.DisplayFor(modelItem => item.LeaveRequest.StartDate)
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col">
                                                                    <i class='bx bx-chevrons-left'></i>
                                                                    <b>@language.GetKey("EndDate")</b>
                                                                </div>
                                                                <div class="col">
                                                                    @Html.DisplayFor(modelItem => item.LeaveRequest.EndDate)
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col">
                                                                    <i class='bx bx-bar-chart-alt-2'></i>
                                                                    <b>@language.GetKey("DailyHours")</b>
                                                                </div>
                                                                <div class="col">
                                                                    @Html.DisplayFor(modelItem => item.LeaveRequest.Quantity)
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col">
                                                                    <i class='bx bx-stats'></i>
                                                                    <b>@language.GetKey("Status")</b>
                                                                </div>
                                                                <div class="col">
                                                                    @Html.DisplayFor(modelItem => item.LeaveRequest.Status)
                                                                </div>
                                                            </div>

                                                            <hr class="dotted" />
                                                            <div class="row">
                                                                <div class="col">
                                                                    <i class='bx bx-comment'></i>
                                                                    <b>@language.GetKey("Comments")</b>
                                                                </div>
                                                                <div class="col">
                                                                    @Html.DisplayFor(modelItem => item.LeaveRequest.Comments)
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-success text-light" type="submit" asp-route-statusAction="@StatusManager.SuperiorApproval" asp-route-id="@item.LeaveRequest.Id">
                                                        <span>
                                                            <i class="fa fa-check"></i>
                                                        </span>@language.GetKey("Approve")
                                                    </button>
                                                    <button class="btn btn-danger text-light" type="submit" asp-route-statusAction="@StatusManager.Cancelled" asp-route-id="@item.LeaveRequest.Id">
                                                        <span>
                                                            <i class="fa fa-times"></i>
                                                        </span>@language.GetKey("Reject")
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>