@using Vexed.Services;
@inject LanguageService language
@model IEnumerable<Vexed.Models.LeaveRequest>

@{
    ViewData["Title"] = "Index";
}

<h1>Approve Leave Requests</h1>

<table class="table table-striped">
    <form method="post">
    <thead>
        <tr>
            <th>
                    @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                        @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Comments)
                </td>
                <td>
                    <button class="btn btn-primary" type="submit" asp-action="IndexSuperior" asp-controller="LeaveRequests" asp-route-statusAction="@StatusManager.SuperiorApproval" asp-route-id="@item.Id">Approve</button> |
                    <button class="btn btn-danger" type="submit" asp-action="IndexSuperior" asp-controller="LeaveRequests" asp-route-statusAction="@StatusManager.Cancelled" asp-route-id="@item.Id">Cancel</button> |
                </td>
            </tr>
            }
    </tbody>
    </form>
</table>
