@model Vexed.Models.UserEmployment

@{
    ViewData["Title"] = "Delete";
}

<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />

<body class="vh-10">
    <div class="container py-5 h-10">
        <div class="row d-flex justify-content-center align-items-center h-10">
            <div class="col-md-8 col-lg-8 col-xl-6">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <h3 class="mb-5 text-danger">Delete Employment?</h3>
                        <hr />
                        <div class="container">
                            <div class="text-left">
                                <div class="row">
                                    <div class="col">
                                        <i class='bx bxs-school'></i>
                                        <b>Company Name</b>
                                    </div>
                                    <div class="col">
                                        @Html.DisplayFor(model => model.CompanyName)
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <i class='bx bxl-codepen'></i>
                                        <b>Department</b>
                                    </div>
                                    <div class="col">
                                        @Html.DisplayFor(model => model.Department)
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <i class='bx bxl-codepen'></i>
                                        <b>Function</b>
                                    </div>
                                    <div class="col">
                                        @Html.DisplayFor(model => model.Function)
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <i class='bx bx-map'></i>
                                        <b>Location</b>
                                    </div>
                                    <div class="col">
                                        @Html.DisplayFor(model => model.Location)
                                    </div>
                                </div>

                                <hr class="dotted" />
                                <div class="row">
                                    <div class="col">
                                        <i class='bx bx-calendar-check'></i>
                                        <b>Hire Date</b>
                                    </div>
                                    <div class="col">
                                        @Html.DisplayFor(model => model.HireDate)
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <i class='bx bx-wallet-alt'></i>
                                        <b>Hourly Pay</b>
                                    </div>
                                    <div class="col">
                                        @Html.DisplayFor(model => model.HourlyPay)
                                    </div>
                                </div>

                                <hr class="dotted" />
                                <div class="row">
                                    <div class="col">
                                        <i class='bx bxs-face'></i>
                                        <b>Superior Name</b>
                                    </div>
                                    <div class="col">
                                        @Html.DisplayFor(model => model.SuperiorName)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr class="my-4">
                        <form asp-action="Delete">
                            <a asp-action="Index">Back to List</a> | 
                            <input type="hidden" asp-for="Id" />
                            <input type="submit" value="Delete" class="btn btn-danger" /> 
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>