@using Vexed.Services;
@inject LanguageService language
@model DataModels.UserEmployment

@{
    ViewData["Title"] = "Delete";
}

<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4>@language.GetKey("Delete")</h4>
            <span class="ml-1"> @language.GetKey("Delete") @language.GetKey("UserEmployment")?</span>
        </div>
    </div>
</div>


<body class="vh-10">
    <div class="container py-5 h-10">
        <div class="row d-flex justify-content-center align-items-center h-10">
            <div class="col-md-8 col-lg-8">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body text-center">

                        <h3 class="mb-5 text-danger">@language.GetKey("Delete") @language.GetKey("UserEmployment")?</h3>
                        <hr />
                        <div class="container">
                            <div class="text-left text-dark">
                                <div class="row">
                                    <div class="col">
                                        <i class='bx bxs-school'></i>
                                        <b>@language.GetKey("CompanyName")</b>
                                    </div>
                                    <div class="col">
                                        @Html.DisplayFor(model => model.CompanyName)
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <i class='bx bxl-codepen'></i>
                                        <b>@language.GetKey("Department")</b>
                                    </div>
                                    <div class="col">
                                        @Html.DisplayFor(model => model.Department)
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <i class='bx bxl-codepen'></i>
                                        <b>@language.GetKey("Function")</b>
                                    </div>
                                    <div class="col">
                                        @Html.DisplayFor(model => model.Function)
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <i class='bx bx-map'></i>
                                        <b>@language.GetKey("Location")</b>
                                    </div>
                                    <div class="col">
                                        @Html.DisplayFor(model => model.Location)
                                    </div>
                                </div>

                                <hr class="dotted" />
                                <div class="row">
                                    <div class="col">
                                        <i class='bx bx-calendar-check'></i>
                                        <b>@language.GetKey("HireDate")</b>
                                    </div>
                                    <div class="col">
                                        @Html.DisplayFor(model => model.HireDate)
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <i class='bx bx-wallet-alt'></i>
                                        <b>@language.GetKey("HourlyPay")</b>
                                    </div>
                                    <div class="col">
                                        @Html.DisplayFor(model => model.HourlyPay)
                                    </div>
                                </div>

                                <hr class="dotted" />
                                <div class="row">
                                    <div class="col">
                                        <i class='bx bxs-face'></i>
                                        <b>@language.GetKey("SuperiorName")</b>
                                    </div>
                                    <div class="col">
                                        @Html.DisplayFor(model => model.SuperiorName)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr class="my-4">
                        <form asp-action="Delete">
                            <a class="btn btn-outline-dark" asp-action="Index">@language.GetKey("BackToList")</a> |
                            <input type="hidden" asp-for="Id" />
                            <input type="submit" value="@language.GetKey("Delete")" class="btn btn-danger" />
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>