@using Vexed.Services;
@inject LanguageService language
@model DataModels.ViewModels.EmploymentViewModel

@{
    ViewData["Title"] = "Edit";
}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link href="/css/card.css" rel="stylesheet" />

<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4>@language.GetKey("Edit")</h4>
            <span class="ml-1"> @language.GetKey("Edit") @language.GetKey("UserEmployment")</span>
        </div>
    </div>
</div>

<body class="vh-10">
    <div class="container py-5 h-10">
        <div class="row d-flex justify-content-center align-items-center h-10">
            <div class="col-md-8 col-lg-8">
                <div class="card testimonial-card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body text-center">
                        <div class="avatar-simple mx-auto mb-1 mt-2 white">
                            <img src="https://cdn-icons-png.flaticon.com/128/7589/7589391.png" class=" img-fluid" alt="woman avatar">
                        </div>

                        <h4>@language.GetKey("UserEmployment")</h4>
                        <hr />
                        <div class="text-left p-3 text-dark">
                            <form asp-action="Edit">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="UserEmployment.Id" />
                                <input type="hidden" asp-for="AllRoles" />
                                <div class="form-group row my-3">
                                    <div class="col-4 my-2">
                                        <i class='bx bx-user'></i>
                                        <b>@language.GetKey("UserName"):</b>
                                    </div>
                                    <div class="col-8">
                                        @Html.DropDownListFor(m => m.SelectedUserId, new SelectList(Model.UserNamesVM, "UserId", "UserName"), new { @class = "form-control", @id = "single-select" })
                                        <input type="hidden" asp-for="SelectedUserId" />
                                        <input type="hidden" asp-for="UserNamesVM" />
                                    </div>
                                </div>

                                <div class="form-group row my-3">
                                    <div class="col-4 my-2">
                                        <i class='bx bxs-school'></i>
                                        <b>@language.GetKey("CompanyName"):</b>
                                    </div>
                                    <div class="col-8">
                                        <input asp-for="UserEmployment.CompanyName" class="form-control" />
                                        <span asp-validation-for="UserEmployment.CompanyName" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row my-3">
                                    <div class="col-4 my-2">
                                        <i class='bx bxl-codepen'></i>
                                        <b>@language.GetKey("Department"):</b>
                                    </div>
                                    <div class="col-8">
                                        <input asp-for="UserEmployment.Department" class="form-control" />
                                        <span asp-validation-for="UserEmployment.Department" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row my-3">
                                    <div class="col-4 my-2">
                                        <i class='bx bxl-codepen'></i>
                                        <b>@language.GetKey("Function"):</b>
                                    </div>
                                    <div class="col-8">
                                        <input asp-for="UserEmployment.Function" class="form-control" />
                                        <span asp-validation-for="UserEmployment.Function" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row my-3">
                                    <div class="col-4 my-2">
                                        <i class='bx bx-purchase-tag-alt'></i>
                                        <b>@language.GetKey("Roles"):</b>
                                    </div>
                                    <div class="col-8">
                                        @Html.DropDownListFor(m => m.UserRoles, new MultiSelectList(Model.AllRoles), "Select Role", new { @class = "form-control", @id = "roles-dropdown", multiple = "multiple" })
                                    </div>
                                </div>

                                <div class="form-group row my-3">
                                    <div class="col-4 my-2">
                                        <i class='bx bx-map'></i>
                                        <b>@language.GetKey("Location"):</b>
                                    </div>
                                    <div class="col-8">
                                        <input asp-for="UserEmployment.Location" class="form-control" />
                                        <span asp-validation-for="UserEmployment.Location" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row my-3">
                                    <div class="col-4 my-2">
                                        <i class='bx bx-calendar-check'></i>
                                        <b>@language.GetKey("HireDate"):</b>
                                    </div>
                                    <div class="col-8">
                                        <input asp-for="UserEmployment.HireDate" class="form-control" />
                                        <span asp-validation-for="UserEmployment.HireDate" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row my-3">
                                    <div class="col-4 my-2">
                                        <i class='bx bx-wallet-alt'></i>
                                        <b>@language.GetKey("HourlyPay"):</b>
                                    </div>
                                    <div class="input-group col-8">
                                        <div class="input-group">
                                            <input asp-for="UserEmployment.HourlyPay" class="form-control">
                                            <div class="input-group-append">
                                                <span class="input-group-text">$</span>
                                            </div>
                                        </div>
                                        <span asp-validation-for="UserEmployment.HourlyPay" class="text-danger"></span>
                                    </div>
                                </div>


                                <div class="form-group row my-3">
                                    <div class="col-4 my-2">
                                        <i class='bx bxs-face'></i>
                                        <b>@language.GetKey("SuperiorName"):</b>
                                    </div>
                                    <div class="col-8">
                                        @Html.DropDownListFor(m => m.SelectedSuperiorId, new SelectList(Model.SuperiorNamesVM, "UserId", "UserName"), new { @class = "form-control", @id = "superior-dropdown" })
                                        <input type="hidden" asp-for="SelectedSuperiorId" />
                                        <input type="hidden" asp-for="SuperiorNamesVM" />
                                        <input id="superior-name" type="hidden" asp-for="UserEmployment.SuperiorName" />
                                    </div>
                                </div>

                                <div class="form-group row my-4">
                                    <div class="col-4 my-2">
                                        <a class="btn btn-outline-dark" asp-action="Index">@language.GetKey("BackToList")</a>
                                    </div>
                                    <div class="col-8">
                                        <input type="submit" value="@language.GetKey("Save")" class="btn btn-primary" />
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js" integrity="sha384-d3UHjPdzJkZuk5H3qKYMLRyWLAQBJbby2yr2Q58hXXtAGF8RSNO9jpLDlKKPv5v3" crossorigin="anonymous"></script>
    <script>
        $('#single-select').select2({
            maximumSelectionLength: 10,
            placeholder: 'Select an option'
        });

        $('#superior-dropdown').select2({
            maximumSelectionLength: 10,
            placeholder: 'Select an option'
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#roles-dropdown').select2({
                placeholder: 'Select Roles',
                multiple: true
            });

            var userRoles = @Html.Raw(Json.Serialize(Model.UserRoles));
            $('#roles-dropdown').val(userRoles).trigger('change');
        });
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
