@model IEnumerable<Vexed.Models.UserEmployment>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />

<body>
    <div class="login-form table-responsive">
        <form>
            <p>Sample text</p>
            <div class="content"></div>
            <table class="table table-striped table-hover content">
                <thead class="table-dark">
                    <tr>
                        <th>
                            <i class='bx bxs-school' ></i>
                            @Html.DisplayNameFor(model => model.CompanyName)
                        </th>
                        <th>
                            <i class='bx bxl-codepen'></i>
                            @Html.DisplayNameFor(model => model.Department)
                        </th>
                        <th>
                            <i class='bx bxl-codepen' ></i>
                            @Html.DisplayNameFor(model => model.Function)
                        </th>
                        <th>
                            <i class='bx bx-map'></i>
                            @Html.DisplayNameFor(model => model.Location)
                        </th>
                        <th>
                            <i class='bx bx-calendar-check' ></i>
                            @Html.DisplayNameFor(model => model.HireDate)
                        </th>
                        <th>
                            <i class='bx bx-wallet-alt'></i>
                            @Html.DisplayNameFor(model => model.HourlyPay)
                        </th>
                        <th>
                            <i class='bx bxs-face'></i>
                            @Html.DisplayNameFor(model => model.SuperiorName)
                        </th>
                        <th>
                            <a class="btn btn-outline-secondary text-white" asp-action="Create">New</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CompanyName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Department)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Function)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Location)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.HireDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.HourlyPay)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SuperiorName)
                            </td>
                            <td>
                                <a class="text-dark" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                                    <i class='bx bx-dots-horizontal-rounded'></i>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item text-dark" asp-action="Edit" asp-route-id="@item.Id">
                                            <i class='bx bxs-edit-alt'></i> Edit
                                        </a>
                                        <a class="dropdown-item" asp-action="Details" asp-route-id="@item.Id">
                                            <i class='bx bxs-detail'></i> Details
                                        </a>
                                        <a class="dropdown-item text-danger" asp-action="Delete" asp-route-id="@item.Id">
                                            <i class='bx bxs-trash'></i> Delete
                                        </a>
                                    </div>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </form>
    </div>
</body>