@using System.Security.Claims
@using Vexed.Services;
@inject LanguageService language

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<style>
    .logo-wrapper {
        display: inline-block;
        width: 30px; /* Adjust the width as needed */
        height: auto;
        vertical-align: middle;
    }

    .logo-image {
        max-width: 100%;
        height: auto;
    }
</style>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Focus - Bootstrap Admin Dashboard </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
    <link rel="stylesheet" href="/vendor/owl-carousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/vendor/owl-carousel/css/owl.theme.default.min.css">
    <link href="/css/style.css" rel="stylesheet">

    <!--Icons-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-EYqbJGVCCZvB8ZPTW6M3q2JjU6OwT8y39TJkKVC0rAZrZc0F+9dWntPKoiJh+0bhQQSlEXg8KKx+SW5ueHbklA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Toastr -->
    <link rel="stylesheet" href="/vendor/toastr/css/toastr.min.css">

</head>

@if (!User.Identity.IsAuthenticated)
{
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm" style="background-color: #343957 !important;">
        <div class="container-fluid">
            <a class="navbar-brand d-flex" asp-area="" asp-controller="Home" asp-action="Index">
                <span class="logo-wrapper">
                    <img class="logo-image" src="/images/logo.png" alt="Logo">
                </span>
                <div class="mx-3">𝚅 𝙴 𝚇 𝙴 𝙳</div>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">@language.GetKey("home")</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="AboutUs">@language.GetKey("aboutus")</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @language.GetKey("Language")
                        </a>
                        <div class="dropdown-menu" aria-labelledby="languageDropdown">
                            <a class="dropdown-item" asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="en-US">
                                <img src="~/images/flags/united-kingdom.png" width="20"> English
                            </a>
                            <a class="dropdown-item" asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="ro-RO">
                                <img src="~/images/flags/romania.png" width="20"> Română
                            </a>
                        </div>
                    </li>
                </ul>
                <!--Login and register buttons-->
                <li class="nav-item">
                    <a class="nav-link" id="register" asp-area="Identity" asp-page="/Account/Register">@language.GetKey("Register")</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Login">@language.GetKey("Login")</a>
                </li>
            </div>
        </div>
    </nav>
    @RenderBody()

    @RenderSection("scripts", required: false)

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
}
else
{
    <body>

        <!--******************* Preloader start ********************-->
        <div id="preloader">
            <div class="sk-three-bounce">
                <div class="sk-child sk-bounce1"></div>
                <div class="sk-child sk-bounce2"></div>
                <div class="sk-child sk-bounce3"></div>
            </div>
        </div>
        <!--*******************  Preloader end ********************-->
        <!--********************************** Main wrapper start ***********************************-->
        <div id="main-wrapper">

            <!--********************************** Nav header start ***********************************-->
            <div class="nav-header">
                <a asp-action="Dashboard" asp-controller="Home" class="brand-logo">
                    <img class="logo-abbr" src="/images/logo.png" alt="">
                    <div class="mx-3 brand-title">𝚅 𝙴 𝚇 𝙴 𝙳</div>
                    @*<img class="logo-compact" src="/images/logo-text.png" alt="">*@
                    @*<img class="brand-title" src="/images/logo-text.png" alt="">*@
                </a>

                <div class="nav-control">
                    <div class="hamburger">
                        <span class="line"></span><span class="line"></span><span class="line"></span>
                    </div>
                </div>
            </div>
            <!--********************************** Nav header end ***********************************-->
            <!--********************************** Header start ***********************************-->
            <div class="header">
                <div class="header-content">
                    <nav class="navbar navbar-expand">
                        <div class="collapse navbar-collapse justify-content-between">
                            <div class="header-left">
                            </div>
                            <!--User profile-->
                            <ul class="navbar-nav header-right">
                                <li class="nav-item dropdown header-profile">
                                    <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                        <i class='bx bxs-landscape'></i>
                                    </a>

                                    <a>@User.Identity.Name</a>
                                    <hr>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="en-US">
                                            <img src="~/images/flags/united-kingdom.png" width="20"> English
                                        </a>
                                        <a class="dropdown-item" asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="ro-RO">
                                            <img src="~/images/flags/romania.png" width="20"> Română
                                        </a>

                                        <hr />
                                        <a class="dropdown-item" asp-controller="Home" asp-action="UserProfile" asp-route-userId="@User.FindFirstValue(ClaimTypes.NameIdentifier)" title="Profile">
                                            <i class='bx bxs-user nav_icon'></i> <span class="ml-2">@language.GetKey("Profile") </span>
                                        </a>
                                        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                                            <i class='bx bx-shield-alt-2'></i> <span class="ml-2">@language.GetKey("Account") </span>
                                        </a>
                                        <a class="dropdown-item text-danger" data-toggle="modal" data-target="#basicModal" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                            <i class='bx bx-log-out nav_icon'></i> <span class="ml-2">@language.GetKey("Logout") </span>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <!--********************************** Header end ti-comment-alt ***********************************-->
            <!--********************************** Sidebar start ***********************************-->
            <div class="quixnav">
                <div class="quixnav-scroll">
                    <ul class="metismenu" id="menu">

                        <li class="nav-label first">Main Menu</li>
                        <li>
                            <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                                <i class='bx bxs-dashboard'></i><span class="nav-text">Dashboard</span>
                            </a>
                            <ul aria-expanded="false">
                                <li><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
                                <li><a asp-controller="Home" asp-action="Calendar">Calendar</a></li>
                            </ul>
                        </li>

                        <li class="nav-label">Cards</li>
                        <li>
                            <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                                <i class='bx bx-bookmark-plus'></i><span class="nav-text">@language.GetKey("Cards")</span>
                            </a>
                            <ul aria-expanded="false">
                                <li><a asp-controller="TimeCards" asp-action="Index">@language.GetKey("TimeCards")</a></li>
                                <li><a asp-controller="LeaveRequests" asp-action="Index">@language.GetKey("LeaveRequests")</a></li>
                            </ul>
                        </li>

                        <li class="nav-label">Contact</li>
                        <li>
                            <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                                <i class='bx bxs-contact'></i><span class="nav-text">@language.GetKey("Contacts")</span>
                            </a>
                            <ul aria-expanded="false">
                                <li><a asp-controller="ContactInfoes" asp-action="Index">@language.GetKey("Information")</a></li>
                                <li><a asp-controller="EmergencyContacts" asp-action="Index">@language.GetKey("Emergency")</a></li>
                            </ul>
                        </li>

                        <li class="nav-label">@language.GetKey("User")</li>
                        <li>
                            <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                                <i class='bx bxs-user-detail'></i><span class="nav-text">@language.GetKey("User")</span>
                            </a>
                            <ul aria-expanded="false">
                                <li><a asp-controller="Qualifications" asp-action="Index">@language.GetKey("Qualifications")</a></li>
                                <li><a asp-controller="UserEmployments" asp-action="OrganizationChart">@language.GetKey("OrganizationChart")</a></li>
                                <li><a asp-controller="UserDetails" asp-action="Details">@language.GetKey("Details")</a></li>
                                <li><a asp-controller="UserEmployments" asp-action="Details">@language.GetKey("Employment")</a></li>
                            </ul>
                        </li>

                        @if (User.IsInRole("HumanResources"))
                        {
                            <li class="nav-label">@language.GetKey("HumanResources")</li>
                            <li>
                                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                                    <i class='bx bx-box'></i><span class="nav-text">@language.GetKey("ManageRequests")</span>
                                </a>
                                <ul aria-expanded="false">
                                    <li><a asp-controller="TimeCards" asp-action="IndexHR">@language.GetKey("TimeCards")</a></li>
                                    <li><a asp-controller="LeaveRequests" asp-action="IndexHR">@language.GetKey("LeaveRequests")</a></li>
                                </ul>
                            </li>
                            <li>
                                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                                    <i class='bx bx-group'></i><span class="nav-text">@language.GetKey("ManageUsers")</span>
                                </a>
                                <ul aria-expanded="false">
                                    <li><a asp-controller="UserDetails" asp-action="Index">@language.GetKey("Details")</a></li>
                                    <li><a asp-controller="UserEmployments" asp-action="Index">@language.GetKey("Employment")</a></li>
                                    <li><a asp-controller="Salaries" asp-action="Index">@language.GetKey("Salaries")</a></li>
                                </ul>
                            </li>
                        }

                        @if (User.IsInRole("TechnicalManager") ||  User.IsInRole("ProjectManager"))
                        {
                            <li class="nav-label">Approve Requests</li>
                            <li>
                                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                                    <i class='bx bx-box'></i><span class="nav-text">@language.GetKey("ManageRequests")</span>
                                </a>
                                <ul aria-expanded="false">
                                    <li><a asp-controller="TimeCards" asp-action="IndexSuperior">@language.GetKey("TimeCards")</a></li>
                                    <li><a asp-controller="LeaveRequests" asp-action="IndexSuperior">@language.GetKey("LeaveRequests")</a></li>
                                </ul>
                            </li>
                        }

                        @if (User.IsInRole("TechnicalManager"))
                        {
                            <li class="nav-label">@language.GetKey("ProjectManagement")</li>
                            <li>
                                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                                    <i class='bx bxs-group'></i><span class="nav-text">@language.GetKey("TeamsAndProjects")</span>
                                </a>
                                <ul aria-expanded="false">
                                    <li><a asp-controller="Projects" asp-action="Index">@language.GetKey("Projects")</a></li>
                                    <li><a asp-controller="ProjectTeams" asp-action="Index">@language.GetKey("Teams")</a></li>
                                </ul>
                            </li>
                        }

                    </ul>
                </div>


            </div>
            <!--********************************** Sidebar end ***********************************-->


            <!--********************************** Content body start ***********************************-->
            <div class="content-body">
                <!-- row -->
                <div class="container-fluid">
                    <!--Toastr-->
                    <div id="toast-container" class="toast-top-right"></div>
                    <div id="successMessage" data-value="@TempData["SuccessMessage"]"></div>

                    @RenderBody()
                </div>
            </div>
            <!--********************************** Content body end ***********************************-->
            <!--********************************** Footer start ***********************************-->
            <div class="footer">
                <div class="copyright">
                    <p>Copyright © Designed &amp; Developed by <a href="#" target="_blank">Vexed</a> 2023</p>
                </div>
            </div>
            <!--********************************** Footer end ***********************************-->
            <!--********************************** Support ticket button start ***********************************-->


        </div>
        <!--********************************** Main wrapper end ***********************************-->
        <!--********************************** Scripts ***********************************-->
        <!-- Required vendors -->
        <script src="/vendor/global/global.min.js"></script>
        <script src="/js/quixnav-init.js"></script>
        <script src="/js/custom.min.js"></script>


        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>



        <!-- Vectormap -->
        <script src="/vendor/raphael/raphael.min.js"></script>
        <script src="/vendor/morris/morris.min.js"></script>


        <script src="/vendor/circle-progress/circle-progress.min.js"></script>
        <script src="/vendor/chart.js/Chart.bundle.min.js"></script>

        <script src="/vendor/gaugeJS/dist/gauge.min.js"></script>

        <!--  flot-chart js -->
        <script src="/vendor/flot/jquery.flot.js"></script>
        <script src="/vendor/flot/jquery.flot.resize.js"></script>

        <!-- Owl Carousel -->
        <script src="/vendor/owl-carousel/js/owl.carousel.min.js"></script>


        <script src="/js/dashboard/dashboard-1.js"></script>

        <!-- Datatable -->
        <script src="/vendor/datatables/js/jquery.dataTables.min.js"></script>
        <script src="/js/plugins-init/datatables.init.js"></script>

        <!-- BOT -->
        @*<script type="text/javascript">!function (t, e) { t.artibotApi = { l: [], t: [], on: function () { this.l.push(arguments) }, trigger: function () { this.t.push(arguments) } }; var a = !1, i = e.createElement("script"); i.async = !0, i.type = "text/javascript", i.src = "https://app.artibot.ai/loader.js", e.getElementsByTagName("head").item(0).appendChild(i), i.onreadystatechange = i.onload = function () { if (!(a || this.readyState && "loaded" != this.readyState && "complete" != this.readyState)) { new window.ArtiBot({ i: "dc2af663-9532-4a38-83a7-1fd532dc2b5e" }); a = !0 } } }(window, document);</script>*@
        <script>var BotStar = { appId: "s1a8511e4-4fb0-4891-b9b7-334b92ecdd95", mode: "livechat" }; !function (t, a) { var e = function () { (e.q = e.q || []).push(arguments) }; e.q = e.q || [], t.BotStarApi = e; !function () { var t = a.createElement("script"); t.type = "text/javascript", t.async = 1, t.src = "https://widget.botstar.com/static/js/widget.js"; var e = a.getElementsByTagName("script")[0]; e.parentNode.insertBefore(t, e) }(); }(window, document)</script>
        <!-- Notification -->
        <script src="/js/notifications.js"></script>

        <!-- Toastr -->
        <script src="/vendor/toastr/js/toastr.min.js"></script>
        <script src="/js/plugins-init/toastr-init.js"></script>

        @RenderSection("scripts", required: false)
    </body>


    <!-- Modal -->
    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
        <div class="modal fade" id="basicModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">

                        <h5 class="modal-title">
                            <i class='bx bx-log-out nav_icon'></i>
                            Logout
                        </h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="text-align: center;">
                        <img src="~/images/logout.png" alt="Logout icon">
                        <br>
                        <br>
                        Are you sure you want to logout?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Logout</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
}
</html>