@using Vexed.Services;
@inject LanguageService language

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
<link rel="stylesheet" href="~/css/sidebar.css">

<body id="body-pd">
    <form id="form1" runat="server">
        <header class="header" id="header" style="background-color:#2c3e50">
            <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
            <div class="col-8">
                <asp:TextBox placeholder="Filtrar correo" ID="TextBox1" runat="server" CssClass="form-control">
                </asp:TextBox>
            </div>
            <div class="row">
                <div class="col-12 mt-3">
                    <div class="input-group">
                        <div class="input-group-prepend mt-2">
                            <asp:Label ID="lblnomusuario" CssClass="text-success" runat="server" Text="nom_usuario">
                            </asp:Label>
                        </div>
                        <asp:ImageButton ID="imgbtneditar" CssClass="header_img" runat="server"
                                         ImageUrl="~/Images/user-circle-solid-240.png" />
                    </div>
                </div>
            </div>
        </header>
        <div class="l-navbar" id="nav-bar">
            <nav class="nav">
                <div>
                    <a class="nav_logo" asp-controller="Home" asp-action="Menu">
                        <img src="/images/old_logos/vexedtree.png" height="30" alt="" />
                        <span class="nav_logo-name">Vexed</span>
                    </a>
                    <div class="nav_list">
                        <a class="nav_link" asp-controller="TimeCards" asp-action="Index">
                            <i class='bx bx-time-five  nav_icon'></i>
                            <span class="nav_name">@language.GetKey("TimeCards")</span>
                        </a>
                        <a class="nav_link" asp-controller="LeaveRequests" asp-action="Index">
                            <i class='bx bx-calendar  nav_icon'></i>
                            <span class="nav_name">@language.GetKey("LeaveRequest")</span>
                        </a>

                        <hr class="dotted">

                        <a class="nav_link" asp-controller="ContactInfoes" asp-action="Index">
                            <i class='bx bxs-contact  nav_icon'></i>
                            <span class="nav_name">@language.GetKey("ContactInfo")</span>
                        </a>
                        <a class="nav_link" asp-controller="EmergencyContacts" asp-action="Index">
                            <i class='bx bx-shield-plus  nav_icon'></i>
                            <span class="nav_name">@language.GetKey("EmergencyContact")</span>
                        </a>
                        
                        <hr class="dotted">

                        <a class="nav_link" asp-controller="UserDetails" asp-action="Details">
                            <i class='bx bxs-user-detail  nav_icon'></i>
                            <span class="nav_name">@language.GetKey("Details")</span>
                        </a>
                        <a class="nav_link" asp-controller="UserEmployments" asp-action="Details">
                            <i class='bx bxs-business nav_icon'></i>
                            <span class="nav_name">@language.GetKey("Employment")</span>
                        </a>
                    </div>
                </div>

                <a class="nav_link text-white" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                    <i class='bx bxs-cog nav_icon'></i>
                    <span class="nav_name">@language.GetKey("Settings")</span>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="en-US">
                            <img src="~/images/flags/united-kingdom.png" width="20"> English
                        </a>
                        <a class="dropdown-item" asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="ro-RO">
                            <img src="~/images/flags/romania.png" width="20"> Română
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                            <i class='bx bxs-user nav_icon'></i> @language.GetKey("Account")
                        </a>
                        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <i class='bx bx-log-out nav_icon'></i> @language.GetKey("Log out")
                        </a>
                    </div>
                </a>
            </nav>
        </div>
    </form>
</body>
