@using Vexed.Services;
@inject LanguageService language
@model Vexed.Models.ContactInfo

@{
    ViewData["Title"] = "Edit";
}
<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />

<body>
    <div class="login-form-small col-md-4 justify-content-center">
        <h4>@language.GetKey("ContactInfo")</h4>
        <hr />
        <div class="text-left p-3">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="UserId" />

                <div class="form-group row my-3">
                    <div class="col-4 my-2">
                        <i class='bx bxs-category'></i>
                        <b>@language.GetKey("Type"):</b>
                    </div>
                    <div class="col-8">
                        <select asp-for="Type" class="form-control" asp-items="ViewBag.ContactTypes"></select>
                        <span asp-validation-for="Type" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row my-3">
                    <div class="col-4 my-2">
                        <i class='bx bxs-book-content'></i>
                        <b>@language.GetKey("Contact"):</b>
                    </div>
                    <div class="col-8">
                        <input asp-for="Contact" class="form-control" />
                        <span asp-validation-for="Contact" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row my-4">
                    <div class="col-4 my-2">
                        <a asp-action="Index">@language.GetKey("BackToList")</a>
                    </div>
                    <div class="col-8">
                        <input type="submit" value="@language.GetKey("Save")" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>

    </div>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
