@using Vexed.Services;
@inject LanguageService language
@model IEnumerable<DataModels.ContactInfo>

@{
    ViewData["Title"] = "Index";
    IDictionary<string, string> typeImage = new Dictionary<string, string>
    {
        {"Work Phone", "https://cdn-icons-png.flaticon.com/128/10797/10797339.png"},
        {"Personal Phone", "https://cdn-icons-png.flaticon.com/128/10797/10797339.png"},
        {"Work Email", "https://cdn-icons-png.flaticon.com/128/10335/10335094.png"},
        {"Personal Email", "https://cdn-icons-png.flaticon.com/128/10335/10335094.png"},
        {"Fax", "https://cdn-icons-png.flaticon.com/128/9851/9851892.png"}
    };
}
<link rel="stylesheet" href="/vendor/datatables/css/jquery.dataTables.min.css" />

<style>
    body {
        background-color: #f5f7fa;
    }

    .testimonial-card .avatar {
        width: 50px;
        margin-top: 5px;
        margin-bottom: -20px;
        }
</style>

<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4>Your Contact info!</h4>
            <span class="ml-1">All in one place</span>
        </div>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <a class="btn btn-rounded btn-primary" asp-action="Create">
            <span class="btn-icon-left text-dark">
                <i class="fa fa-plus color-primary"></i>
            </span>@language.GetKey("Create")
        </a>

    </div>
</div>


<form>
    <div class="container">
        <div class="row justify-content-center">

                @foreach (var contact in Model)
                {
                    <div class="col-md-4">
                        <div class="card testimonial-card mt-2 mb-3">
                            <div class="avatar mx-auto white">
                                <img src="@typeImage[contact.Type]" class=" img-fluid" alt="woman avatar">
                            </div>
                            <div class="card-body text-center">
                                <hr />
                                <div class="text-muted">@contact.Type</div>
                                <p>@contact.Contact</p>
                            </div>
                            <div class="card-footer d-flex justify-content-center">
                                <a class="text-muted mx-3" asp-action="Edit" asp-route-id="@contact.Id">
                                    <i class='bx bxs-edit-alt'></i> @language.GetKey("Edit")
                                </a>
                                <a class="text-muted mx-3" asp-action="Details" asp-route-id="@contact.Id">
                                    <i class='bx bxs-detail'></i> @language.GetKey("Details")
                                </a>
                                <a class="text-danger mx-3" data-toggle="modal" data-target="#exampleModalCenter-@contact.Id">
                                    <i class='bx bxs-trash'></i> @language.GetKey("Delete")
                                </a>
                            </div>
                        </div>
                    </div>

                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter-@contact.Id">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">@language.GetKey("Delete") @language.GetKey("Contact")?</h5>
                                <button type="button" class="close" data-dismiss="modal">
                                    <span>&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="container">
                                    <div class="text-left text-dark">
                                        <div class="row">
                                            <div class="col">
                                                <i class='bx bxs-category'></i>
                                                <b>@language.GetKey("Type")</b>
                                            </div>
                                            <div class="col">
                                                @Html.DisplayFor(itemModel => contact.Type)
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col">
                                                <i class='bx bxs-book-content'></i>
                                                <b>@language.GetKey("Contact")</b>
                                            </div>
                                            <div class="col">
                                                @Html.DisplayFor(itemModel => contact.Contact)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-light" data-dismiss="modal">@language.GetKey("Close")</button>
                                <form asp-action="Delete" method="post">
                                    <input type="hidden" asp-for="@contact.Id" name="id" />
                                    <button class="btn btn-danger text-light" type="submit">
                                        <span>
                                            <i class='bx bxs-trash'></i>
                                        </span>@language.GetKey("Delete")
                                    </button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</form>
