@using Vexed.Services;
@inject LanguageService language

@model DataModels.Salary

@{
    ViewData["Title"] = "Create";
}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4>@language.GetKey("Create")</h4>
            <span class="ml-1"> New contact info </span>
        </div>
    </div>
</div>

<body class="vh-10">
    <div class="container py-5 h-10">
        <div class="row d-flex justify-content-center align-items-center h-10">
            <div class="col-md-8 col-lg-8">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body text-center">
                        <h4>@language.GetKey("ContactInfo")</h4>
                        <hr />
                        <div class="text-left p-3 text-dark">
                            <form asp-action="Create">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <input type="hidden" asp-for="Id"/>
                                <input type="hidden" asp-for="UserId"/>

                                <!-- User -->
                                <div class="form-group row my-3">
                                    <div class="col-4 my-2">
                                        <i class='bx bxs-book-content'></i>
                                        <b>@language.GetKey("FullName"):</b>
                                    </div>
                                    <div class="col-8">
                                        <input asp-for="FullName" class="form-control" />
                                        <span asp-validation-for="FullName" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row my-3">
                                    <div class="col-4 my-2">
                                        <i class='bx bxs-book-content'></i>
                                        <b>@language.GetKey("Function"):</b>
                                    </div>
                                    <div class="col-8">
                                        <input asp-for="Function" class="form-control" />
                                        <span asp-validation-for="Function" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row my-3">
                                    <div class="col-4 my-2">
                                        <i class='bx bxs-book-content'></i>
                                        <b>@language.GetKey("Department"):</b>
                                    </div>
                                    <div class="col-8">
                                        <input asp-for="Department" class="form-control" />
                                        <span asp-validation-for="Department" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row my-3">
                                    <div class="col-4 my-2">
                                        <i class='bx bxs-book-content'></i>
                                        <b>@language.GetKey("Company"):</b>
                                    </div>
                                    <div class="col-8">
                                        <input asp-for="Company" class="form-control" />
                                        <span asp-validation-for="Company" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row my-3">
                                    <div class="col-4 my-2">
                                        <i class='bx bxs-book-content'></i>
                                        <b>@language.GetKey("GeneratedDate"):</b>
                                    </div>
                                    <div class="col-8">
                                        <input asp-for="GeneratedDate" class="form-control" />
                                        <span asp-validation-for="GeneratedDate" class="text-danger"></span>
                                    </div>
                                </div>

                                <!-- Work time -->
                                <div class="form-group row my-3">
                                    <div class="col-4 my-2">
                                        <i class='bx bxs-book-content'></i>
                                        <b>@language.GetKey("TotalWorkedHours"):</b>
                                    </div>
                                    <div class="col-8">
                                        <input asp-for="TotalWorkedHours" class="form-control" />
                                        <span asp-validation-for="TotalWorkedHours" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row my-3">
                                    <div class="col-4 my-2">
                                        <i class='bx bxs-book-content'></i>
                                        <b>@language.GetKey("TotalWorkedDays"):</b>
                                    </div>
                                    <div class="col-8">
                                        <input asp-for="TotalWorkedDays" class="form-control" />
                                        <span asp-validation-for="TotalWorkedDays" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row my-3">
                                    <div class="col-4 my-2">
                                        <i class='bx bxs-book-content'></i>
                                        <b>@language.GetKey("GrossSalary"):</b>
                                    </div>
                                    <div class="col-8">
                                        <input asp-for="GrossSalary" class="form-control" />
                                        <span asp-validation-for="GrossSalary" class="text-danger"></span>
                                    </div>
                                </div>

                                <!-- Taxes -->
                                <div class="form-group row my-3">
                                    <div class="col-4 my-2">
                                        <i class='bx bxs-book-content'></i>
                                        <b>@language.GetKey("SocialInsurance"):</b>
                                    </div>
                                    <div class="col-8">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">@Model.SocialInsuranceTax %</span>
                                            </div>
                                            <input asp-for="SocialInsuranceValue" class="form-control" />
                                            <span asp-validation-for="SocialInsuranceValue" class="text-danger"></span>
                                            <div class="input-group-append">
                                                <span class="input-group-text">$</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row my-3">
                                    <div class="col-4 my-2">
                                        <i class='bx bxs-book-content'></i>
                                        <b>@language.GetKey("HealthInsurance"):</b>
                                    </div>
                                    <div class="col-8">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">@Model.HealthInsuranceTax %</span>
                                            </div>
                                            <input asp-for="HealthInsuranceValue" class="form-control" />
                                            <span asp-validation-for="HealthInsuranceValue" class="text-danger"></span>
                                            <div class="input-group-append">
                                                <span class="input-group-text">$</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row my-3">
                                    <div class="col-4 my-2">
                                        <i class='bx bxs-book-content'></i>
                                        <b>@language.GetKey("PersonalIncomeTax"):</b>
                                    </div>
                                    <div class="col-8">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">@Model.PersonalIncomeTax %</span>
                                            </div>
                                            <input asp-for="PersonalIncomeValue" class="form-control" />
                                            <span asp-validation-for="PersonalIncomeValue" class="text-danger"></span>
                                            <div class="input-group-append">
                                                <span class="input-group-text">$</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row my-3">
                                    <div class="col-4 my-2">
                                        <i class='bx bxs-book-content'></i>
                                        <b>@language.GetKey("WorkInsurance"):</b>
                                    </div>
                                    <div class="col-8">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">@Model.WorkInsuranceTax %</span>
                                            </div>
                                            <input asp-for="WorkInsuranceValue" class="form-control" />
                                            <span asp-validation-for="WorkInsuranceValue" class="text-danger"></span>
                                            <div class="input-group-append">
                                                <span class="input-group-text">$</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Salary -->
                                <div class="form-group row my-3">
                                    <div class="col-4 my-2">
                                        <i class='bx bxs-book-content'></i>
                                        <b>@language.GetKey("NetSalary"):</b>
                                    </div>
                                    <div class="col-8">
                                        <input asp-for="NetSalary" class="form-control" />
                                        <span asp-validation-for="NetSalary" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row my-3">
                                    <div class="col-4 my-2">
                                        <i class='bx bxs-book-content'></i>
                                        <b>@language.GetKey("MealTicket"):</b>
                                    </div>
                                    <div class="col-8">
                                        <input asp-for="MealTicketValue" class="form-control" />
                                        <span asp-validation-for="MealTicketValue" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row my-3">
                                    <div class="col-4 my-2">
                                        <i class='bx bxs-book-content'></i>
                                        <b>@language.GetKey("MealTicketTotal"):</b>
                                    </div>
                                    <div class="col-8">
                                        <input asp-for="MealTicketTotal" class="form-control" />
                                        <span asp-validation-for="MealTicketTotal" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row my-4">
                                    <div class="col-4">
                                        <a class="btn btn-outline-dark" asp-action="Index">@language.GetKey("BackToList")</a>
                                    </div>
                                    <div class="col-8">
                                        <input type="submit" value="@language.GetKey("Create")" class="btn btn-primary" />
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
