@using Shared;
@using Vexed.Services;
@inject LanguageService language
@model IEnumerable<DataModels.Salary>

@{
    ViewData["Title"] = "Index";
    IDictionary<string, string> statusBadge = new Dictionary<string, string>()
    {
        { SalaryStatusManager.NotGenerated, "badge-outline-warning"},
        {SalaryStatusManager.Generated, "badge-outline-info"},
        {SalaryStatusManager.SalarySent, "badge-outline-success"},
        {SalaryStatusManager.Cancelled, "badge-outline-danger"},
    };
}
<link rel="stylesheet" href="/vendor/datatables/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker.min.css">


<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4>@language.GetKey("Salaries")!</h4>
            <span class="ml-1">@language.GetKey("AllInOnePlace")</span>
        </div>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <a class="btn btn-rounded btn-primary" asp-action="Create">
            <span class="btn-icon-left text-dark">
                <i class="fa fa-plus color-primary"></i>
            </span>@language.GetKey("Create")
        </a>
    </div>
</div>

<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h5>Current month: @DateTime.Now.ToString("dd MMMM yyyy")</h5>
        </div>
    </div>
    <div class="col-md-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <form formaction="Index" method="post">
            <div class="d-flex justify-content-between align-items-center">
                <div class="flex-grow-1">
                    <input type="text" id="yearMonthPicker" class="form-control" readonly />
                    <input type="hidden" id="selectedDate" name="selectedDate" />
                </div>
                <button type="submit" class="btn btn-rounded btn-warning ml-3">
                    <span class="btn-icon-left text-warning">
                        <i class="fa fa-calendar color-warning"></i>
                    </span>@language.GetKey("Filter")
                </button>
            </div>

        </form>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form>
                    <div class="table-responsive">
                        <table id="example" class="table table-responsive-sm" aria-describedby="table-description">
                            <caption id="table-description">This table displays the leave requests of the user</caption>

                            <thead class="thead-primary">
                                <tr>
                                    <th>
                                        <i class='bx bxs-category'></i>
                                        @language.GetKey("FullName")
                                    </th>
                                    <th>
                                        <i class='bx bxs-book-content'></i>
                                        @language.GetKey("Function")
                                    </th>
                                    <th>
                                        <i class='bx bxl-codepen'></i>
                                        @language.GetKey("Department")
                                    </th>
                                    <th>
                                        <i class='bx bxs-school'></i>
                                        @language.GetKey("Company")
                                    </th>
                                    <th>
                                        <i class='bx bxs-book-content'></i>
                                        @language.GetKey("GeneratedDate")
                                    </th>
                                    <th>
                                        <i class='bx bx-stats'></i>
                                        @language.GetKey("Status")
                                    </th>
                                    <th style="text-align: right;" data-orderable="false">
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="text-dark">
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FullName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Function)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Department)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Company)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.GeneratedDate)
                                        </td>
                                        <td>
                                            <span class="badge @statusBadge[item.Status] badge-rounded">@Html.DisplayFor(modelItem => item.Status)</span>
                                        </td>
                                        <td style="text-align: center;">
                                            <div class="btn-group">
                                                <button id="btnGroupDrop1" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown">
                                                    <i class='ti-layout-menu-v'></i>
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item text-dark" asp-action="Edit" asp-route-id="@item.Id">
                                                        <i class='bx bxs-edit-alt'></i> @language.GetKey("Edit")
                                                    </a>
                                                    <a class="dropdown-item" asp-action="Details" asp-route-id="@item.Id">
                                                        <i class='bx bxs-detail'></i> @language.GetKey("Details")
                                                    </a>
                                                    <a class="dropdown-item text-danger" asp-action="Delete" asp-route-id="@item.Id">
                                                        <i class='bx bxs-trash'></i> @language.GetKey("Delete")
                                                    </a>
                                                    <hr>
                                                    <a class="dropdown-item text-danger" asp-action="GeneratePdf" asp-route-salaryId="@item.Id">
                                                        <i class='bx bxs-file-pdf'></i> @language.GetKey("PDF")
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/locales/bootstrap-datepicker.en-GB.min.js"></script>
    <script>
        $("#yearMonthPicker").datepicker({
            format: 'MM-yyyy',
            minViewMode: 'months',
            autoclose: true
        }).on('changeDate', function (e) {
            var selectedDate = new Date(e.date.getFullYear(), e.date.getMonth(), 1);
            selectedDate.setDate(selectedDate.getDate() + 1);

            $("#selectedDate").val(selectedDate.toISOString());
        });

    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

