@model Vexed.Models.EmergencyContact

@{
    ViewData["Title"] = "Delete";
}
<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />


<body class="vh-10">
    <div class="container py-5 h-10">
        <div class="row d-flex justify-content-center align-items-center h-10">
            <div class="col-md-8 col-lg-8 col-xl-6">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <h3 class="mb-5 text-danger">Delete Emergency Contact?</h3>
                        <hr />
                        <div class="container">
                            <div class="text-left">
                                <div class="row">
                                    <div class="col">
                                        <b>First Name</b>
                                    </div>
                                    <div class="col">
                                        @Html.DisplayFor(model => model.FirstName)
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <b>Last Name</b>
                                    </div>
                                    <div class="col">
                                        @Html.DisplayFor(model => model.LastName)
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <b>Relationship</b>
                                    </div>
                                    <div class="col">
                                        @Html.DisplayFor(model => model.Relationship)
                                    </div>
                                </div>

                                <hr class="dotted" />
                                <div class="row">
                                    <div class="col">
                                        <b>Phone</b>
                                    </div>
                                    <div class="col">
                                        @Html.DisplayFor(model => model.Phone)
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <b>Email</b>
                                    </div>
                                    <div class="col">
                                        @Html.DisplayFor(model => model.Email)
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <b>Address</b>
                                    </div>
                                    <div class="col">
                                        @Html.DisplayFor(model => model.Address)
                                    </div>
                                </div>

                                <hr class="dotted" />
                                <div class="row">
                                    <div class="col">
                                        <b>Additional Info</b>
                                    </div>
                                    <div class="col">
                                        @Html.DisplayFor(model => model.AdditionalInformation)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr class="my-4">
                        <form asp-action="Delete">
                            <a asp-action="Index">Back to List</a> | 
                            <input type="hidden" asp-for="Id" />
                            <input type="submit" value="Delete" class="btn btn-danger" /> 
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
