@using Vexed.Services;
@inject LanguageService language
@model IEnumerable<Vexed.Models.EmergencyContact>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />

<body>
    <div class="login-form table-responsive">
        <form>
            <p>Sample text</p>
            <div class="content"></div>
            <table class="table table-striped table-hover content">
                <thead class="table-dark">
                    <tr>
                        <th>
                            <i class='bx bx-user' ></i>
                            @language.GetKey("FirstName")
                        </th>
                        <th>
                            <i class='bx bx-user'></i>
                            @language.GetKey("LastName")
                        </th>
                        <th>
                            <i class='bx bx-shape-circle'></i>
                            @language.GetKey("Relationship")
                        </th>
                        <th>
                            <i class='bx bxs-phone'></i>
                            @language.GetKey("Phone")
                        </th>
                        <th>
                            <i class='bx bx-envelope' ></i>
                            @language.GetKey("Email")
                        </th>
                        <th>
                            <i class='bx bx-home'></i>
                            @language.GetKey("Address")
                        </th>
                        <th>
                            <i class='bx bx-info-circle'></i>
                            @language.GetKey("AdditionalInfo")
                        </th>
                        <th>
                            <a class="btn btn-outline-secondary text-white" asp-action="Create">@language.GetKey("Create")</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Relationship)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Phone)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AdditionalInformation)
                            </td>
                            <td>
                                <a class="text-dark" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                                    <i class='bx bx-dots-horizontal-rounded'></i>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item text-dark" asp-action="Edit" asp-route-id="@item.Id">
                                            <i class='bx bxs-edit-alt'></i> @language.GetKey("Edit")
                                        </a>
                                        <a class="dropdown-item" asp-action="Details" asp-route-id="@item.Id">
                                            <i class='bx bxs-detail'></i> @language.GetKey("Details")
                                        </a>
                                        <a class="dropdown-item text-danger" asp-action="Delete" asp-route-id="@item.Id">
                                            <i class='bx bxs-trash'></i> @language.GetKey("Delete")
                                        </a>
                                    </div>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </form>
    </div>
</body>
