@using Vexed.Services;
@{
    ViewData["Title"] = "About us";
}
@inject LanguageService language

<head>
    <link href="/css/newstyle.css" rel="stylesheet" />
</head>

<body>

    <!-- Header-->
    <header class="py-3">
        <div class="container ">
            <div class="row gx-5 align-items-center justify-content-center">

                <div class="col d-none d-xl-block text-center">
                    <img class="img-fluid" src="/images/aboutus.svg"
                         alt="..." />
                </div>

                <div class="col">
                    <div class="text-center text-xl-start">
                        <h1 class="display-5 fw-bolder text-black mb-2">@language.GetKey("aboutus_header_h1")</h1>
                        <p class="lead fw-normal text-black-50 mb-4">@language.GetKey("aboutus_header_p")</p>
                    </div>
                </div>

            </div>
        </div>
    </header>
    <!-- ==End ofHeader== -->
    <!-- About Section 1-->
    <section id="about">
        <div class="py-4 ">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <h2>@language.GetKey("aboutus_section1_h2")</h2>
                    <p class="lead">@language.GetKey("aboutus_section1_p")</p>

                    <div class="row  py-5">
                        <!-- Contact card 1-->
                        <div class="col">
                            <div class="feature text-dark mb-3">
                                <i class="bi bi-chat-dots"></i>
                            </div>
                            <div class="h5">@language.GetKey("aboutus_section1_card1_h5")</div>
                            <p class="text-muted mb-0">@language.GetKey("aboutus_section1_card1_p")</p>
                        </div>
                        <!-- Contact card 2-->
                        <div class="col">
                            <div class="feature text-dark rounded-3 mb-3">
                                <i class="bi bi-people"></i>
                            </div>
                            <div class="h5"> @language.GetKey("aboutus_section1_card2_h5") </div>
                            <p class="text-muted mb-0"> @language.GetKey("aboutus_section1_card2_p") </p>
                        </div>
                        <!-- Contact card 3-->
                        <div class="col">
                            <div class="feature text-dark rounded-3 mb-3">
                                <i class="bi bi-question-circle"></i>
                            </div>
                            <div class="h5">@language.GetKey("aboutus_section1_card3_h5")</div>
                            <p class="text-muted mb-0"> @language.GetKey("aboutus_section1_card3_p") </p>
                        </div>
                        <!-- Contact card 4-->
                        <div class="col">
                            <div class="feature text-dark rounded-3 mb-3">
                                <i class="bi bi-telephone"></i>
                            </div>
                            <div class="h5">@language.GetKey("aboutus_section1_card4_h5")</div>
                            <p class="text-muted mb-0"> @language.GetKey("aboutus_section1_card4_p") </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- ==End of About== -->
    <!-- Contact Section 2-->
    <section id="contact">
        <div class="container py-4 px-5">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <h2>@language.GetKey("aboutus_section2_h2")</h2>
                    <p class="lead">@language.GetKey("aboutus_section2_address")</p>
                    <p class="lead">@language.GetKey("aboutus_section2_phone")</p>
                    <p class="lead">@language.GetKey("aboutus_section2_email")</p>
                </div>

                <div class="col d-none d-xl-block">
                    <img class="img-fluid" src="/images/contact-location.svg"
                         alt="..." />
                </div>
            </div>
        </div>

        <div style="margin: 20px; border-radius: 30px; overflow: hidden;">
            <iframe width="100%"
                    height="600"
                    style="border: 0;"
                    scrolling="no"
                    marginheight="0"
                    marginwidth="0"
                    src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Strada%20Madona%20Dudu%20Nr%2035,%20Craiova%20200410+()&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
                <a href="https://www.gps.ie/truck-gps/">Vexed map</a>
            </iframe>
        </div>


    </section>
    <!-- ==End of Contact== -->

</body>