@using Shared;
@using Vexed.Services;
@inject LanguageService language

@model List<DataModels.ViewModels.TeamLeaveRequestVM>
@{
    IDictionary<string, string> statusBadge = new Dictionary<string, string>()
    {
        {StatusManager.Submitted, "badge-warning"},
        {StatusManager.SuperiorApproval, "badge-info"},
        {StatusManager.HRApproval, "badge-success"},
        {StatusManager.Cancelled, "badge-danger"},
    };
    IDictionary<string, string> statusColor = new Dictionary<string, string>()
    {
        {StatusManager.Submitted, "#ffc107"},
        {StatusManager.SuperiorApproval, "#17a2b8"},
        {StatusManager.HRApproval, "#28a745"},
        {StatusManager.Cancelled, "#dc3545"},
    };
}

<link href="/vendor/fullcalendar/css/fullcalendar.min.css" rel="stylesheet">
<style>
    #calendar {
        height: calc(100vh - 200px); /* Adjust the 100px value as needed */
    }
</style>
<div class="row">
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-intro-title">Calendar</h4>

                <div class="">
                    <div id="external-events" class="my-4">
                        <p>Events color legend</p>
                        <div class="external-event" data-class="bg-warning"><i class="fa fa-move"></i>Submitted</div>
                        <div class="external-event" data-class="bg-info"><i class="fa fa-move"></i>Approved by superior</div>
                        <div class="external-event" data-class="bg-success"><i class="fa fa-move"></i>Approved</div>
                        <div class="external-event" data-class="bg-danger"><i class="fa fa-move"></i>Cancelled</div>
                    </div>
                    <a class="btn btn-primary w-100 text-light" asp-action="Create" asp-controller="LeaveRequests">
                        <span class="align-middle"><i class="ti-plus"></i></span> @language.GetKey("CreateNewLeave")
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-9">
        <div class="card">
            <div class="card-body">
                <div id="calendar" class="app-fullcalendar fc fc-unthemed fc-ltr">
                </div>
            </div>
        </div>
    </div>
</div>

<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.7/index.global.min.js'></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            headerToolbar: {
                start: 'prev,next today',
                center: 'title',
                end: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
            },
            initialView: 'dayGridMonth',
            events: [
            @foreach (var teamMember in Model)
            {
                foreach (var leaveRequest in teamMember.Leaves)
                {
                    <text>
                                {
                                    title: '@teamMember.UserName - @leaveRequest.Type',
                                    start: '@leaveRequest.StartDate.ToString("yyyy-MM-dd")',
                                    end: '@leaveRequest.EndDate.ToString("yyyy-MM-dd")',
                                    color: '@statusColor[leaveRequest.Status]'
                                },
                    </text>
                }
            }
                    ],
        });
        calendar.render();
    });
</script>
