@using Vexed.Services;
@inject LanguageService language

@model DataModels.Qualification

@{
    ViewData["Title"] = "Create";
}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link href="/css/card.css" rel="stylesheet" />

<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4>@language.GetKey("Create")</h4>
            <span class="ml-1">@language.GetKey("NewQualification")</span>
        </div>
    </div>
</div>

<body class="vh-10">
    <div class="container py-5 h-10">
        <div class="row d-flex justify-content-center align-items-center h-10">
            <div class="col-md-8 col-lg-8">
                <div class="card testimonial-card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body text-center">
                        <div class="avatar-simple mx-auto mb-1 mt-2 white">
                            <img src="https://cdn-icons-png.flaticon.com/128/7322/7322275.png" class=" img-fluid" alt="woman avatar">
                        </div>

                        <h4>@language.GetKey("Qualification")</h4>
                        <hr />
                        <div class="text-left p-3 text-dark">
                            <form asp-action="Create" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="form-group row my-3">
                                    <div class="col-4 my-2">
                                        <i class='bx bx-certification'></i>
                                        <b>@language.GetKey("Title"):</b>
                                    </div>
                                    <div class="col-8">
                                        <input asp-for="Title" class="form-control"/>
                                        <span asp-validation-for="Title" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row my-3">
                                    <div class="col-4 my-2">
                                        <i class='bx bxs-edit-alt'></i>
                                        <b>@language.GetKey("Description"):</b>
                                    </div>
                                    <div class="col-8">
                                        <textarea asp-for="Description" class="form-control" rows="3" style="resize: vertical;"></textarea>
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row my-3">
                                    <div class="col-4 my-2">
                                        <i class='bx bx-calendar-check'></i>
                                        <b>@language.GetKey("DateObtained"):</b>
                                    </div>
                                    <div class="col-8">
                                        <input asp-for="DateObtained" class="form-control" />
                                        <span asp-validation-for="DateObtained" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row my-3">
                                    <div class="col-4 my-2">
                                        <i class='bx bx-calendar-x'></i>
                                        <b>@language.GetKey("ExpiryDate"):</b>
                                    </div>
                                    <div class="col-8">
                                        <input asp-for="ExpiryDate" class="form-control" />
                                        <span asp-validation-for="ExpiryDate" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row my-3">
                                    <div class="col-4 my-2">
                                        <i class='bx bx-file'></i>
                                        <b>@language.GetKey("Attachment"):</b>
                                    </div>
                                    <div class="col-8">
                                        <input type="file" class="form-control-file" name="attachmentFile" accept="image/*,.pdf" />
                                        @if (ViewData.ModelState.TryGetValue("attachmentFile", out var attachmentFileState) &&
                                        attachmentFileState.Errors.Count > 0)
                                        {
                                            <span class="text-danger">Please select a file</span>
                                        }
                                    </div>
                                </div>

                                <div class="form-group row my-4">
                                    <div class="col-4">
                                        <a class="btn btn-outline-dark" asp-action="Index">@language.GetKey("BackToList")</a>
                                    </div>
                                    <div class="col-8">
                                        <input type="submit" value="@language.GetKey("Create")" class="btn btn-primary" />
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js" integrity="sha384-d3UHjPdzJkZuk5H3qKYMLRyWLAQBJbby2yr2Q58hXXtAGF8RSNO9jpLDlKKPv5v3" crossorigin="anonymous"></script>
    <script>
        $('#single-select').select2({
            maximumSelectionLength: 10,
            placeholder: 'Select an option'
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
