@using Vexed.Services;
@inject LanguageService language
@model DataModels.ViewModels.ProjectTechnologiesVM

@{
    ViewData["Title"] = "Edit";
}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4>@language.GetKey("Edit")</h4>
            <span class="ml-1"> @language.GetKey("Edit") @language.GetKey("Project") </span>
        </div>
    </div>
</div>

<body class="vh-10">
    <div class="container py-5 h-10">
        <div class="row d-flex justify-content-center align-items-center h-10">
            <div class="col-md-8 col-lg-8">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body text-center">
                        <h4>@language.GetKey("Project")</h4>
                        <hr />
                        <div class="text-left p-3 text-dark">
                            <form asp-action="Edit">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="Project.Id" class="form-control" />

                                <div class="form-group row my-3">
                                    <div class="col-4 my-2">
                                        <i class='bx bx-message-square'></i>
                                        <b>@language.GetKey("Name"):</b>
                                    </div>
                                    <div class="col-8">
                                        <input asp-for="Project.Name" class="form-control" />
                                        <span asp-validation-for="Project.Name" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row my-3">
                                    <div class="col-4 my-2">
                                        <i class='bx bxl-codepen'></i>
                                        <b>@language.GetKey("Code"):</b>
                                    </div>
                                    <div class="col-8">
                                        <input asp-for="Project.Code" class="form-control" />
                                        <span asp-validation-for="Project.Code" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row my-3">
                                    <div class="col-4 my-2">
                                        <i class='bx bx-detail'></i>
                                        <b>@language.GetKey("Description"):</b>
                                    </div>
                                    <div class="col-8">
                                        <textarea asp-for="Project.Description" class="form-control" rows="3" style="resize: vertical;"></textarea>
                                        <span asp-validation-for="Project.Description" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row my-3">
                                    <div class="col-4 my-2">
                                        <i class='bx bx-shape-circle'></i>
                                        <b>@language.GetKey("Image"):</b>
                                    </div>
                                    <div class="col-8">
                                        <input asp-for="Project.ImageLink" class="form-control" />
                                        <span asp-validation-for="Project.ImageLink" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row my-3">
                                    <div class="col-4 my-2">
                                        <i class='bx bx-stats'></i>
                                        <b>@language.GetKey("Status"):</b>
                                    </div>
                                    <div class="col-8">
                                        <input asp-for="Project.Status" class="form-control" />
                                        <span asp-validation-for="Project.Status" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row my-3">
                                    <div class="col-4 my-2">
                                        <i class='bx bx-calendar'></i>
                                        <b>@language.GetKey("StartDate"):</b>
                                    </div>
                                    <div class="col-8">
                                        <input asp-for="Project.StartDate" class="form-control" />
                                        <span asp-validation-for="Project.StartDate" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row my-3">
                                    <div class="col-4 my-2">
                                        <i class='bx bx-calendar'></i>
                                        <b>@language.GetKey("EndDate"):</b>
                                    </div>
                                    <div class="col-8">
                                        <input asp-for="Project.EndDate" class="form-control" />
                                        <span asp-validation-for="Project.EndDate" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row my-3">
                                    <div class="col-4 my-2">
                                        <i class='bx bx-user-voice'></i>
                                        <b>@language.GetKey("ProjectManager"):</b>
                                    </div>
                                    <div class="col-8">
                                        @Html.DropDownListFor(m => m.Project.ProjectManagerId, new SelectList(Model.Project.ProjectManagersList, "UserId", "UserName"), "Select User", new { @class = "form-control", @id = "superior-dropdown" })
                                        <input type="hidden" asp-for="Project.ProjectManagerId" name="ProjectManagerId" id="superior-id" />
                                        <input type="hidden" asp-for="Project.ProjectManager" id="superior-name" />

                                    </div>
                                </div>

                                <div class="form-group row my-3">
                                    <div class="col-4 my-2">
                                        <i class='bx bx-shape-circle'></i>
                                        <b>@language.GetKey("Technologies"):</b>
                                    </div>
                                    <div class="col-8">

                                        @Html.DropDownListFor(m => m.Project.TechnologiesList, new MultiSelectList(Model.AllTechnologies), "Select technology", new { @class = "form-control", @id = "tech-dropdown", multiple = "multiple" })

                                        <input type="hidden" asp-for="Project.Technologies" class="form-control" id="techField"/>
                                        <span asp-validation-for="Project.Technologies" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row my-3">
                                    <div class="col-4 my-2">
                                        <i class='bx bx-link'></i>
                                        <b>@language.GetKey("UsefulLinks"):</b>
                                    </div>
                                    <div class="col-8">
                                       @* <textarea asp-for="Project.UsefulLinks" class="form-control" rows="3" style="resize: vertical;"></textarea>
                                        <span asp-validation-for="Project.UsefulLinks" class="text-danger"></span>*@
                                        <input type="hidden" asp-for="Project.UsefulLinks" class="form-control" id="useful-links-field" />
                                        <div id="links-container">
                                            @foreach (var link in Model.Project.UsefulLinksList)
                                            {
                                                <div id="link-item-@link" class="row link-item py-1">
                                                    <div class="col-9">
                                                        <input type="text" id="link-input-@link" class="form-control" value="@link" readonly />
                                                    </div>
                                                    <div class="col-3">
                                                        <button id="remove-link-btn-@link" class="btn btn-danger" type="button">Remove</button>
                                                    </div>
                                                </div>
                                            }
                                        </div>

                                        <div class="row py-1">
                                            <div class="col-9">
                                                <input type="text" id="new-link-input" class="form-control" placeholder="Enter a new link" />
                                            </div>
                                            <div class="col-3">
                                                <button id="add-link-btn" class="btn btn-primary" type="button">Add Link</button>
                                            </div>
                                        </div>
                                        


                                    </div>
                                </div>

                                <div class="form-group row my-4">
                                    <div class="col-4">
                                        <a class="btn btn-outline-dark" asp-action="Index">@language.GetKey("BackToList")</a>
                                    </div>
                                    <div class="col-8">
                                        <input type="submit" value="@language.GetKey("Edit")" class="btn btn-primary" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#tech-dropdown').select2({
                placeholder: 'Select technologies',
                multiple: true
            });

            var technologies = @Html.Raw(Model.Project.Technologies);
            $('#tech-dropdown').val(technologies).trigger('change');

            // Event handler for the change event
            $('#tech-dropdown').on('change', function () {
                // Get the selected values
                var selectedValues = $(this).val();

                // Remove unwanted characters
                var formattedValues = JSON.stringify(selectedValues).replace(/\\r/g, '').replace(/\\n/g, '').replace(/\\/g, '').replace(/[\[\]"]+/g, '');

                // Set the value of the hidden input field
                $('#techField').val(formattedValues);
                console.log(formattedValues);
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            // Event handler for the "Add Link" button
            $('#add-link-btn').on('click', function () {
                var newLink = $('#new-link-input').val();

                // Create a new link item
                var linkItem = $('<div></div>').attr('id', 'link-item-' + newLink).addClass('row link-item py-1');
                var linkInputCol = $('<div></div>').addClass('col-9');
                var linkInput = $('<input type="text" readonly>').attr('id', 'link-input-' + newLink).addClass('form-control').val(newLink);
                var removeBtnCol = $('<div></div>').addClass('col-3');
                var removeBtn = $('<button type="button" class="btn btn-danger">Remove</button>').attr('id', 'remove-link-btn-' + newLink);

                // Append the link input and remove button to the link item
                linkInputCol.append(linkInput);
                removeBtnCol.append(removeBtn);
                linkItem.append(linkInputCol, removeBtnCol);

                // Append the link item to the links container
                $('#links-container').append(linkItem);

                // Clear the input field
                $('#new-link-input').val('');

                // Update the hidden input field
                updateHiddenInput();
            });

            // Event handler for the "Remove" button
            $('#links-container').on('click', '[id^=remove-link-btn-]', function () {
                var linkId = $(this).attr('id');
                var link = linkId.substring(linkId.lastIndexOf('-') + 1);

                // Remove the link item
                $('#link-item-' + link).remove();

                // Update the hidden input field
                updateHiddenInput();
            });

            // Function to update the hidden input field with the link values
            function updateHiddenInput() {
                var links = [];
                $('.link-item input[type="text"]').each(function () {
                    var link = $(this).val();
                    links.push(link);
                });

                $('#useful-links-field').val(links.join(',')); // Update the hidden input field with comma-separated values
            }

            // Update the hidden input field initially
            updateHiddenInput();
        });



    </script>

    <script>
        $('#superior-dropdown').select2({
            maximumSelectionLength: 10,
            placeholder: 'Select an option'
        });

        var dropdown = $("#superior-dropdown");
        var nameInput = $("#superior-name");
        var idInput = $("#superior-id");

        dropdown.on("change", function () {
            var selectedOption = $(this).find("option:selected");
            var name = selectedOption.text();
            var id = selectedOption.val();
            nameInput.val(name);
            idInput.val(id);
            console.log(nameInput.val());
            console.log(idInput.val());
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
