@using Vexed.Services;
@inject LanguageService language
@model Vexed.Models.TimeCard

@{
    ViewData["Title"] = "Create";
}
<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />

<body>
    <div class="login-form-small col-md-4 justify-content-center">
        <h4>@language.GetKey("TimeCard")</h4>
        <hr />
        <div class="text-left p-3">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group row my-3">
                    <div class="col-4 my-2">
                        <i class='bx bx-barcode'></i>
                        <b>@language.GetKey("ProjectCode"):</b>
                    </div>
                    <div class="col-8">
                        <input asp-for="ProjectCode" class="form-control" />
                        <span asp-validation-for="ProjectCode" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row my-3">
                    <div class="col-4 my-2">
                        <i class='bx bx-detail'></i>
                        <b>@language.GetKey("TaskDetails"):</b>
                    </div>
                    <div class="col-8">
                        <input asp-for="TaskDetails" class="form-control" />
                        <span asp-validation-for="TaskDetails" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row my-3">
                    <div class="col-4 my-2">
                        <i class='bx bx-map'></i>
                        <b>@language.GetKey("Location"):</b>
                    </div>
                    <div class="col-8">
                        <select asp-for="Location" class="form-control" asp-items="ViewBag.LocationTypes"></select>
                        <span asp-validation-for="Location" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row my-3">
                    <div class="col-4 my-2">
                        <i class='bx bx-chevrons-right'></i>
                        <b>@language.GetKey("StartDate"):</b>
                    </div>
                    <div class="col-8">
                        <input asp-for="StartDate" class="form-control" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row my-3">
                    <div class="col-4 my-2">
                        <i class='bx bx-chevrons-left'></i>
                        <b>@language.GetKey("EndDate"):</b>
                    </div>
                    <div class="col-8">
                        <input asp-for="EndDate" class="form-control" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row my-3">
                    <div class="col-4 my-2">
                        <i class='bx bx-bar-chart-alt-2'></i>
                        <b>@language.GetKey("Quantity"):</b>
                    </div>
                    <div class="col-8">
                        <input asp-for="Quantity" class="form-control" />
                        <span asp-validation-for="Quantity" class="text-danger"></span>
                    </div>
                </div>

                <input type="hidden" asp-for="Status" />

                <div class="form-group row my-3">
                    <div class="col-4 my-2">
                        <i class='bx bx-comment'></i>
                        <b>@language.GetKey("Comments"):</b>
                    </div>
                    <div class="col-8">
                        <input asp-for="Comments" class="form-control" />
                        <span asp-validation-for="Comments" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row my-4">
                    <div class="col-4 my-2">
                        <a asp-action="Index">@language.GetKey("BackToList")</a>
                    </div>
                    <div class="col-8">
                        <input type="submit" value="@language.GetKey("Create")" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>

    </div>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
