@using Vexed.Services;
@inject LanguageService language
@model Vexed.Models.TimeCard

@{
    ViewData["Title"] = "Details";
}

<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4>@language.GetKey("Details")</h4>
            <span class="ml-1"> Leave request details</span>
        </div>
    </div>
</div>

<body class="vh-10">
    <div class="container py-5 h-10">
        <div class="row d-flex justify-content-center align-items-center h-10">
            <div class="col-md-8 col-lg-8">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body text-center">

                        <h3 class="mb-5">@language.GetKey("YourTimeCards")</h3>
                        <hr />
                        <div class="container">
                            <div class="text-left text-dark">
                                <div class="row">
                                    <div class="col">
                                        <i class='bx bx-barcode'></i>
                                        <b>@language.GetKey("ProjectCode")</b>
                                    </div>
                                    <div class="col">
                                        @Html.DisplayFor(model => model.ProjectCode)
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <i class='bx bx-detail'></i>
                                        <b>@language.GetKey("TaskDetails")</b>
                                    </div>
                                    <div class="col">
                                        @Html.DisplayFor(model => model.TaskDetails)
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <i class='bx bx-map'></i>
                                        <b>@language.GetKey("Location")</b>
                                    </div>
                                    <div class="col">
                                        @Html.DisplayFor(model => model.Location)
                                    </div>
                                </div>

                                <hr class="dotted" />
                                <div class="row">
                                    <div class="col">
                                        <i class='bx bx-chevrons-right'></i>
                                        <b>@language.GetKey("StartDate")</b>
                                    </div>
                                    <div class="col">
                                        @Html.DisplayFor(model => model.StartDate)
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <i class='bx bx-chevrons-left'></i>
                                        <b>@language.GetKey("EndDate")</b>
                                    </div>
                                    <div class="col">
                                        @Html.DisplayFor(model => model.EndDate)
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <i class='bx bx-bar-chart-alt-2'></i>
                                        <b>@language.GetKey("DailyHours")</b>
                                    </div>
                                    <div class="col">
                                        @Html.DisplayFor(model => model.DailyHours)
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <i class='bx bx-bar-chart-alt-2'></i>
                                        <b>@language.GetKey("TotalHours")</b>
                                    </div>
                                    <div class="col">
                                        @Html.DisplayFor(model => model.TotalHours)
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <i class='bx bx-stats'></i>
                                        <b>@language.GetKey("Status")</b>
                                    </div>
                                    <div class="col">
                                        @Html.DisplayFor(model => model.Status)
                                    </div>
                                </div>

                                <hr class="dotted" />
                                <div class="row">
                                    <div class="col">
                                        <i class='bx bx-comment'></i>
                                        <b>@language.GetKey("Comments")</b>
                                    </div>
                                    <div class="col">
                                        @Html.DisplayFor(model => model.Comments)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr class="my-4">
                        @if (Model.Status == StatusManager.Submitted)
                        {
                            <a class="btn btn-lg btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">@language.GetKey("Edit")</a>
                        }
                        <a class="btn btn-lg btn-outline-dark" asp-action="Index">@language.GetKey("BackToList")</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
