@using Vexed.Services;
@inject LanguageService language
@model Vexed.Models.TimeCard

@{
    ViewData["Title"] = "Edit";
}
<link rel="stylesheet" href="/vendor/select2/css/select2.min.css">

<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4>@language.GetKey("Edit")</h4>
            <span class="ml-1"> Edit leave request </span>
        </div>
    </div>
</div>

<body class="vh-10">
    <div class="container py-5 h-10">
        <div class="row d-flex justify-content-center align-items-center h-10">
            <div class="col-md-8 col-lg-8">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body text-center">
                        <h4>@language.GetKey("TimeCard")</h4>
                        <hr />
                        <div class="text-left p-3 text-dark">
                            <form asp-action="Edit">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="Id" />
                                <input type="hidden" asp-for="UserId" />
                                <input type="hidden" asp-for="SuperiorId" />
                                <input type="hidden" asp-for="Status" />

                                <div class="form-group row my-3">
                                    <div class="col-4 my-2">
                                        <i class='bx bx-barcode'></i>
                                        <b>@language.GetKey("ProjectCode"):</b>
                                    </div>
                                    <div class="col-8">
                                        <input asp-for="ProjectCode" class="form-control" />
                                        <span asp-validation-for="ProjectCode" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row my-3">
                                    <div class="col-4 my-2">
                                        <i class='bx bx-detail'></i>
                                        <b>@language.GetKey("TaskDetails"):</b>
                                    </div>
                                    <div class="col-8">
                                        <input asp-for="TaskDetails" class="form-control" />
                                        <span asp-validation-for="TaskDetails" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row my-3">
                                    <div class="col-4 my-2">
                                        <i class='bx bx-map'></i>
                                        <b>@language.GetKey("Location"):</b>
                                    </div>
                                    <div class="col-8">
                                        <select id="single-select" asp-for="Location" class="form-control" asp-items="ViewBag.LocationTypes"></select>
                                        <span asp-validation-for="Location" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row my-3">
                                    <div class="col-4 my-2">
                                        <i class='bx bx-chevrons-right'></i>
                                        <b>@language.GetKey("StartDate"):</b>
                                    </div>
                                    <div class="col-8">
                                        <input asp-for="StartDate" class="form-control" />
                                        <span asp-validation-for="StartDate" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row my-3">
                                    <div class="col-4 my-2">
                                        <i class='bx bx-chevrons-left'></i>
                                        <b>@language.GetKey("EndDate"):</b>
                                    </div>
                                    <div class="col-8">
                                        <input asp-for="EndDate" class="form-control" />
                                        <span asp-validation-for="EndDate" class="text-danger"></span>
                                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group row my-3">
                                    <div class="col-4 my-2">
                                        <i class='bx bx-bar-chart-alt-2'></i>
                                        <b>@language.GetKey("Quantity"):</b>
                                    </div>
                                    <div class="col-8">
                                        <input asp-for="Quantity" class="form-control" />
                                        <span asp-validation-for="Quantity" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row my-3">
                                    <div class="col-4 my-2">
                                        <i class='bx bx-stats'></i>
                                        <b>@language.GetKey("Status"):</b>
                                    </div>
                                    <div class="col-8">
                                        <input asp-for="Status" class="form-control" disabled />
                                        <span asp-validation-for="Status" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row my-3">
                                    <div class="col-4 my-2">
                                        <i class='bx bx-comment'></i>
                                        <b>@language.GetKey("Comments"):</b>
                                    </div>
                                    <div class="col-8">
                                        <input asp-for="Comments" class="form-control" />
                                        <span asp-validation-for="Comments" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row my-4">
                                    <div class="col-4 my-2">
                                        <a class="btn btn-outline-dark" asp-action="Index">@language.GetKey("BackToList")</a>
                                    </div>
                                    <div class="col-8">
                                        <input type="submit" value="@language.GetKey("Save")" class="btn btn-primary" />
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    <script src="/vendor/select2/js/select2.full.min.js"></script>
    <script src="/js/plugins-init/select2-init.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
