@using Shared;
@using Vexed.Services
@using Vexed.Models @*add it to use the StatusManger in the js file*@

@inject LanguageService language
@model IEnumerable<DataModels.TimeCard>

@{
    ViewData["Title"] = "Index";
    IDictionary<string, string> statusBadge = new Dictionary<string, string>()
    {
        { StatusManager.Submitted, "badge-outline-warning"},
        {StatusManager.SuperiorApproval, "badge-outline-info"},
        {StatusManager.HRApproval, "badge-outline-success"},
        {StatusManager.Cancelled, "badge-outline-danger"},
    };

}

<link rel="stylesheet" href="/vendor/datatables/css/jquery.dataTables.min.css" />

<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4>@language.GetKey("YourTimeCard")!</h4>
            <span class="ml-1">@language.GetKey("AllInOnePlace")</span>
        </div>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <a class="btn btn-rounded btn-primary" asp-action="Create">
            <span class="btn-icon-left text-dark">
                <i class="fa fa-plus color-primary"></i>
            </span>@language.GetKey("Create")
        </a>

    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form>
                    <div class="table-responsive">
                        <table id="example" class="table table-responsive-sm">
                            <thead class="thead-primary">
                                <tr>
                                    <th>
                                        <i class='bx bx-barcode'></i>
                                        @language.GetKey("ProjectCode")
                                    </th>
                                    <th>
                                        <i class='bx bx-detail'></i>
                                        @language.GetKey("TaskDetails")
                                    </th>
                                    <th>
                                        <i class='bx bx-chevrons-right'></i>
                                        @language.GetKey("StartDate")
                                    </th>
                                    <th>
                                        <i class='bx bx-chevrons-left'></i>
                                        @language.GetKey("EndDate")
                                    </th>
                                    <th>
                                        <i class='bx bx-stats'></i>
                                        @language.GetKey("Status")
                                    </th>
                                    <th>
                                        <i class='bx bx-stats'></i>
                                        @language.GetKey("TotalHours")
                                    </th>
                                    <th align='right' data-orderable="false">
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="text-dark">
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ProjectCode)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TaskDetails)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.StartDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EndDate)
                                        </td>
                                        <td>
                                            <span class="badge @statusBadge[item.Status] badge-rounded">@Html.DisplayFor(modelItem => item.Status)</span>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TotalHours)
                                        </td>
                                        <td align="center">
                                            <div class="btn-group">
                                                <button id="btnGroupDrop1" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown">
                                                    <i class='ti-layout-menu-v'></i>
                                                </button>
                                                <div class="dropdown-menu">
                                                    @if (item.Status != StatusManager.Submitted)
                                                    {
                                                        <a class="dropdown-item text-dark btn disabled">
                                                            <i class='bx bxs-edit-alt'></i> @language.GetKey("Edit")
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a class="dropdown-item text-dark" asp-action="Edit" asp-route-id="@item.Id">
                                                            <i class='bx bxs-edit-alt'></i> @language.GetKey("Edit")
                                                        </a>
                                                    }
                                                    <a class="dropdown-item" asp-action="Details" asp-route-id="@item.Id">
                                                        <i class='bx bxs-detail'></i> @language.GetKey("Details")
                                                    </a>

                                                    @if (item.Status != StatusManager.Submitted)
                                                    {
                                                        <a class="dropdown-item text-dark btn disabled">
                                                            <i class='bx bxs-trash'></i> @language.GetKey("Delete")
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a class="dropdown-item text-danger" data-toggle="modal" data-target="#exampleModalCenter-@item.Id">
                                                            <i class='bx bxs-trash'></i> @language.GetKey("Delete")
                                                        </a>
                                                    }
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModalCenter-@item.Id">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">@language.GetKey("Delete") @language.GetKey("TimeCard")?</h5>
                                                    <button type="button" class="close" data-dismiss="modal">
                                                        <span>&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="container">
                                                        <div class="text-left text-dark">
                                                            <div class="row">
                                                                <div class="col">
                                                                    <i class='bx bx-barcode'></i>
                                                                    <b>@language.GetKey("ProjectCode")</b>
                                                                </div>
                                                                <div class="col">
                                                                    @Html.DisplayFor(modelItem => item.ProjectCode)
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col">
                                                                    <i class='bx bx-detail'></i>
                                                                    <b>@language.GetKey("TaskDetails")</b>
                                                                </div>
                                                                <div class="col">
                                                                    @Html.DisplayFor(modelItem => item.TaskDetails)
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col">
                                                                    <i class='bx bx-map'></i>
                                                                    <b>@language.GetKey("Location")</b>
                                                                </div>
                                                                <div class="col">
                                                                    @Html.DisplayFor(modelItem => item.Location)
                                                                </div>
                                                            </div>

                                                            <hr class="dotted" />
                                                            <div class="row">
                                                                <div class="col">
                                                                    <i class='bx bx-chevrons-right'></i>
                                                                    <b>@language.GetKey("StartDate")</b>
                                                                </div>
                                                                <div class="col">
                                                                    @Html.DisplayFor(modelItem => item.StartDate)
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col">
                                                                    <i class='bx bx-chevrons-left'></i>
                                                                    <b>@language.GetKey("EndDate")</b>
                                                                </div>
                                                                <div class="col">
                                                                    @Html.DisplayFor(modelItem => item.EndDate)
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col">
                                                                    <i class='bx bx-bar-chart-alt-2'></i>
                                                                    <b>@language.GetKey("DailyHours")</b>
                                                                </div>
                                                                <div class="col">
                                                                    @Html.DisplayFor(modelItem => item.DailyHours)
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col">
                                                                    <i class='bx bx-bar-chart-alt-2'></i>
                                                                    <b>@language.GetKey("TotalHours")</b>
                                                                </div>
                                                                <div class="col">
                                                                    @Html.DisplayFor(modelItem => item.TotalHours)
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col">
                                                                    <i class='bx bx-stats'></i>
                                                                    <b>@language.GetKey("Status")</b>
                                                                </div>
                                                                <div class="col">
                                                                    @Html.DisplayFor(modelItem => item.Status)
                                                                </div>
                                                            </div>

                                                            <hr class="dotted" />
                                                            <div class="row">
                                                                <div class="col">
                                                                    <i class='bx bx-comment'></i>
                                                                    <b>@language.GetKey("Comments")</b>
                                                                </div>
                                                                <div class="col">
                                                                    @Html.DisplayFor(modelItem => item.Comments)
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-light" data-dismiss="modal">@language.GetKey("Close")</button>
                                                    <form asp-action="Delete" method="post">
                                                        <input type="hidden" asp-for="@item.Id" name="id" />
                                                        <button class="btn btn-danger text-light" type="submit">
                                                            <span>
                                                                <i class='bx bxs-trash'></i>
                                                            </span>@language.GetKey("Delete")
                                                        </button>
                                                    </form>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

